<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Details and Detail Values
                            </h1>
                            <div class="page-header-subtitle">View Details and their Values</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Details and values
                    <button data-toggle="modal" @click="newDetailModal()" data-target="#addDetail" class="ml-2 btn btn-outline-primary shadow" style="float: right;">Details</button>
                    <button data-toggle="modal" @click="newDetailValueModal()" data-target="#addDetailValue" class="btn btn-outline-primary shadow" style="float: right;">Detail values</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="4">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="detail in details" v-bind:key="detail.id">
                                    <!-- <form @submit.prevent="adddetailToProduct(detail)"> -->
                                        <td>{{ detail.id }}</td>
                                        <td>{{ detail.name }}</td>
                                        <td>
                                            <button data-toggle="modal" data-target="#addDetail"
                                            @click="editDetailModal(detail)" class="btn btn-icon text-warning"><i class="fas fa-edit"></i></button>
                                            <button @click="deleteDetail(detail.id)"
                                                class="btn btn-icon text-danger"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                        <td v-if="detail.value !== null">{{ detail.value.name }}</td>
                                        <td v-else>-</td>
                                        <!-- <td>{{ detail.value.name }}</td> -->
                                        <td>
                                            <button @click="editDetailValueModal(detail)" data-toggle="modal" data-target="#addDetailValue" class="btn btn-icon text-warning"><i class="fas fa-edit"></i></button>
                                            <button @click="deleteDetailValue(detail.value.id)"
                                                class="btn btn-icon text-danger"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                    <!-- </form> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- New detail Modal -->
        <div class="modal fade bd-example-modal-lg" id="addDetail" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Detail</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form @submit.prevent="adddetail()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">detail Name</label>
                                    <input required v-model="detail.name" class="form-control form-control-solid"
                                         type="text" placeholder="Enter Name">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button"
                                data-dismiss="modal">Close</button><button class="btn btn-success btn-lg"
                                type="submit">Add/Update</button></div>
                    </form>
                </div>
            </div>
        </div>

        <!-- New Detail Value Modal -->
        <div class="modal fade bd-example-modal-lg" id="addDetailValue" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">detail Value</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form @submit.prevent="adddetailvalue()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">detail</label>
                                    <select v-model="detailvalue.detail" class="form-control form-control-solid">
                                        <option :value="detail.id" v-for="detail in details" :key="detail.id">{{ detail.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="">detail Value</label>
                                    <input required v-model="detailvalue.detailvalue" class="form-control form-control-solid"
                                         type="text" placeholder="Enter Name">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button"
                                data-dismiss="modal">Close</button><button class="btn btn-success btn-lg"
                                type="submit">Add/Update</button></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                details: {},
                products: {},
                detail: {
                    id: '',
                    name: '',
                },
                detailvalue: {
                    id: '',
                    detail: '',
                    detailvalue: '',
                },
                detailEdit: false,
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchDetails();
        },

        methods: {
            
            fetchDetails() {
                this.isloading = true;
                axios.get(this.$host_url + '/details')
                    .then(res => {
                        this.isloading = false;
                        this.details = res.data;
                    })
            },

            deleteDetail(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/detail/delete/${id}`)
                        .then(res => {
                            Swal.fire(
                                'Success!',
                                'Detail deleted successfully!',
                                'success'
                            )
                            this.fetchDetails();
                        })
                        .catch(error => alert(error));
                }
            },

            adddetail() {
                
                if(this.detailEdit == true) {
                    this.detailEdit == false;
                    let editDetail = new FormData();
                    editDetail.append('id', this.detail.id);
                    editDetail.append('name', this.detail.name);

                    axios.post(this.$host_url + `/detail/edit`,
                        editDetail, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(res => {
                        $('#addDetail').modal('hide')
                        this.detail.name = '';
                        Swal.fire(
                                'Success!',
                                'Updated successfully!',
                                'success'
                            )
                        this.fetchDetails();
                    })
                    .catch(err => {
                        alert(err);
                        $('#addDetail').modal('hide')
                        this.detail.name = '';
                    });
                }
                else if(this.detailEdit == false) {
                    let detailData = new FormData();
                    detailData.append('name', this.detail.name);

                    axios.post(this.$host_url + '/detail/new',
                            detailData, {
                                headers: {
                                    'content-type': 'multipart/form-data'
                                }
                            })
                        .then(data => {
                            $('#addDetail').modal('hide')
                            Swal.fire(
                                    'Success!',
                                    'detail added successfully!',
                                    'success'
                                )
                            this.fetchDetails();
                        })
                        .catch(error => alert(error))
                }
                
                
            },

            adddetailvalue() {
                let detailvalueData = new FormData();
                detailvalueData.append('detail', this.detailvalue.detail);
                detailvalueData.append('detailvalue', this.detailvalue.detailvalue);

                axios.post(this.$host_url + '/detailvalue/new',
                        detailvalueData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        $('#adddetailvalue').modal('hide')
                        Swal.fire(
                                'Success!',
                                'detail Value added successfully!',
                                'success'
                            )
                        this.fetchdetails();
                    })
                    .catch(error => alert(error))
            },

            newdetailvalue() {
                // console.log(id);
                this.$router.push('detailvalues');
                // this.$router.push({ path: `/detailvalues/${id}` })
            },

            adddetailToProduct(detail) {
                let detailData = new FormData();
                detailData.append('id', detail.id);
                detailData.append('name', detail.name);
                detailData.append('product', detail.product);

                axios.post(this.$host_url + '/detail/product/add',
                        detailData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        alert('detail Added to Product!');
                    })
                    .catch(error => alert(error))
            },

            deleteDetailValue(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/detail/value/delete/${id}`)
                        .then(res => {
                            Swal.fire(
                                'Success!',
                                'Detail value deleted successfully!',
                                'success'
                            )
                            this.fetchDetails();
                        })
                        .catch(error => alert(error));
                }
            },

            editDetailModal(detail) {
                this.detailEdit = true;
                this.detail.id = detail.id;
                this.detail.name = detail.name;
            },

            newDetailModal() {
                this.detail.name = '';
                this.detailEdit = false;
            },

            newDetailValueModal() {
                this.detailvalue.detail = '';
                this.detailvalue.detailvalue = '';
                this.detailEdit = false;
            },

            editDetailValueModal(detail) {
                this.detailEdit = true;
                this.detailvalue.id = detail.value.id;
                this.detailvalue.detail = detail.value.name;
                this.detailvalue.detailvalue = detail.value.name;
            }
        },
    }
</script>
