<template>
  <div>
      <!-- <v-app> -->
      <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                New Product
                            </h1>
                            <div class="page-header-subtitle">Create a new Product</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card">
                    <div class="card-header">New Product</div>

                    <div class="card-body">
                        <form @submit.prevent="addProduct(product)">
                            <div class="form-row justify-content-center">
                                <div class="form-group">
                                <label for="inputEmail4">Sub Categories</label>
                                <select v-model="product.subCategory" @change="isvariation= true" class="form-control form-control-solid">
                                        <option v-for="subCategory in subCategories" v-bind:key="subCategory.id"
                                            :value="subCategory.id">{{ subCategory.name }}</option>
                                </select>
                                <!-- <v-select
          :items="items"
          label="Outlined style"
          outlined
        ></v-select> -->
                                </div>
                            </div>
                            <!-- <div v-if="isvariation" class="form-row justify-content-center">
                                <div class="form-group">
                                <label for="inputEmail4">Variation</label>
                                <select v-model="product.variation" @change="getVariationValues($event)" class="form-control form-control-solid">
                                        <option v-for="variation in variations" v-bind:key="variation.id"
                                            :value="variation.id">{{ variation.name }}</option>
                                </select>
                                </div>
                            </div> -->
                            <!-- <div v-if="isvariationvalue" class="form-row justify-content-center">
                                <div class="form-group">
                                <label for="inputEmail4">Variation Value</label>
                                <select v-model="product.variationvalue" class="form-control form-control-solid">
                                        <option v-for="variation in variations" v-bind:key="variation.variation_values.id"
                                            :value="variation.variation_values.id">{{ variation.variation_values.name }}</option>
                                </select>
                                </div>
                            </div> -->
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Name</label>
                                    <input v-model="product.name" type="text" class="form-control" id="inputEmail4" placeholder="Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Description</label>
                                    <input v-model="product.desc" type="text" class="form-control" id="inputPassword4" placeholder="Description">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Price</label>
                                    <input v-model="product.price" type="number" step="0.01" class="form-control" placeholder="Price">
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="form-group">
                                <label for="inputEmail4">Image</label>
                                <b-form-file accept=".jpg, .png" v-model="product.image" :state="Boolean(product.image)"
                                        placeholder="Choose a file or drop it here..."
                                        drop-placeholder="Drop file here...">
                                </b-form-file>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            </form>

<!-- <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="firstname"
            :rules="nameRules"
            :counter="10"
            label="First name"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="lastname"
            :rules="nameRules"
            :counter="10"
            label="Last name"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
          <v-checkbox
      
      :label="`Checkbox 1: ${checkbox.toString()}`"
    ></v-checkbox>
        </v-col>
      </v-row>
    </v-container>
  </v-form> -->

                    </div>
                </div>
        </div>
  <!-- </v-app> -->
  </div>
</template>

<script>
export default {

    data() {
        return {
            isvariation: false,
            isvariationvalue: false,
            categories: {},
            subCategories: {},
            variations: {},
            product: {},
            valid: false,
      firstname: '',
      lastname: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      checkbox: true,
        }
    },

    created() {
            this.fetchInfo();
        },

    methods: {
        fetchInfo() {
            axios.get(this.$host_url + '/newproductinfo')
                    .then(res => {
                        this.categories = res.data.categories;
                        this.subCategories = res.data.sub_categories;
                        // this.variations = res.data.variations;
                        console.log(res.data.categories);
                        // console.log(res.data.variations);
                    })
        },

        addProduct(product) {
                let productData = new FormData();
                productData.append('name', product.name);
                productData.append('desc', product.desc);
                productData.append('price', product.price);
                productData.append('sub_category_id', product.subCategory);
                productData.append('image', product.image);

                axios.post(this.$host_url + '/product/new',
                        productData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        Swal.fire(
                          'Success!',
                          'New Product added successfully!',
                          'success'
                        )
                    })
                    .catch(error => alert(error))
                
            },



    }
}
</script>

<style>

</style>