<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="star"></i></div>
                                    Orders
                                </h1>
                                <div class="page-header-subtitle">A list of all the orders</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Orders
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User ID</th>
                                    <th>Product ID</th>
                                    <th>Total</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="6">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="order in orders" v-bind:key="order.id">
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.user_id }}</td>
                                    <td>{{ order.product_id }}</td>
                                    <td>{{ order.total }}</td>
                                    <td>{{ order.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button @click="deleteOrder(order.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                orders: {},
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchOrders();
        },

        methods: {
            
            fetchOrders() {
                axios.get(this.$host_url + '/orders')
                    .then(res => {
                        this.isloading = false;
                        this.orders = res.data.orders;
                        console.log(this.orders);
                    })
            },

            deleteOrder(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/order/delete/${id}`)
                        .then(res => {
                            alert('Order Deleted!');
                            this.fetchOrders();
                        })
                        .catch(error => alert(error));
                }
            },
        },
    }
</script>
