<template>
    <div> 
        <!-- <v-app> -->
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Products
                            </h1>
                            <div class="page-header-subtitle">A list of all the Products</div>
                            <!-- <v-alert type="success" color="green" elevation="24">Test Alert</v-alert>
                            <v-app>
                            <v-alert
  color="green"
  elevation="24"
  
  type="success"
>fdfdfdf</v-alert>
<v-checkbox
      
      :label="`Checkbox 1: ${checkbox.toString()}`"
    ></v-checkbox>
                            </v-app> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Products
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Sub Category</th>
                                    <th>Details</th>
                                    <th>Variations</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="9">
                                        <content-placeholders :rounded="true">
                                            <content-placeholders-heading :img="true" />
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="product in products" v-bind:key="product.id">
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.name }}</td>
                                    <!-- <td><a :href="product.image" target="_blank"
                                            role="button"><img :src="product.image" alt="" width="200px"
                                            height="150px"></a></td> -->
                                    <td>
                                        <div class="row">
                                            <!-- <a :href="product.image" target="_blank"
                                            role="button"><img class="img-fluid" :src="product.image" alt="" width="100px"
                                            height="150px"></a> -->
                                        <a v-for="productimage in product.product_images" :key="productimage.id" :href="productimage.image" target="_blank"
                                            role="button"><img class="img-fluid" :src="productimage.image" alt="" width="100px"
                                            height="150px"></a>
                                        </div>
                                        
                                    </td>
                                    <td v-if="product.sub_category !== null">{{ product.sub_category.name }}</td>
                                    <td v-else>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <!-- <td><div v-for="details in product.many_details" :key="details.id">{{ details.name + ': ' + details.value.name + ', ' }}</div></td>
                                    <td><div v-for="variation in product.variations" :key="variation.id"><div v-for="variationValue in variation.variationvalues" :key="variationValue.id">{{ variation.name + ': ' + variationValue.name + ', ' }}</div></div></td> -->
                                    <td>{{ product.description }}</td>
                                    <td>${{ product.price }}</td>
                                    <td>{{ product.rating }}</td>
                                    
                                    <!-- <td><div v-for="variation in product.variations" v-bind:key="variation.id"><p>{{ variation.name }},</p></div></td>
                                    <td>
                                        <select v-model="product.variation" class="form-control">
                                            <option v-for="variation in variations" v-bind:key="variation.id"
                                            :value="variation.id" class="form-control">{{ variation.name }}</option>
                                        </select>
                                        <button class="btn btn-outline-primary form-control mt-2">Add</button>
                                    </td> -->
                                    <td>{{ product.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button data-toggle="modal" data-target="#editProduct"
                                            @click="showProductBannerModal(product)"
                                            class="btn btn-icon text-warning"><i class="fas fa-edit"></i></button>
                                        <button @click="deleteProduct(product.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- </v-app> -->

    <!-- Edit Product Modal -->
        <div class="modal fade bd-example-modal-lg" id="editProduct" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Product<i
                                class="fas fa-shopping-basket ml-2"></i></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form @submit.prevent="editProduct(product)" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Product Name</label>
                                    <input v-model="product.name" name="title" class="form-control form-control-solid"
                                         type="text" placeholder="Enter Name">
                                </div>
                                <div class="form-group col">
                                    <label for="">Image Upload</label>
                                    <b-form-file multiple accept=".jpg, .png" v-model="product.image" :state="Boolean(product.image)"
                                        placeholder="Choose a file or drop it here..."
                                        drop-placeholder="Drop file here...">
                                    </b-form-file>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Variations</label>
                                    <!-- <multiselect :value="value" v-model="value" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" track-by="name" label="name"></multiselect> -->
                                    <select multiple="true" v-model="product.variations" class="form-control form-control-solid">
                                        <option v-for="variation in variations" :key="variation.id" :value="{variationValueId: variation.id, variationId: variation.variations.id}">{{ variation.variations.name }}: {{ variation.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Description</label>
                                    <textarea class="form-control form-control-solid" v-model="product.description" cols="30" rows="5" placeholder="Enter description"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Price</label>
                                    <input v-model="product.price" name="price" class="form-control form-control-solid"
                                         type="number" placeholder="Enter price">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button"
                                data-dismiss="modal">Close</button><button class="btn btn-success btn-lg"
                                type="submit">Update</button></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                products: {},
                variations: {},
                details: {},
                checkbox: true,
                product: {
                    id: '',
                    name: '',
                    description: '',
                    price: '',
                    image: null,
                    variations: [],
                },
                value: [1, 2],
                options: [],
                selected: ['list'],
                test: [],
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchProducts();
            this.fetchOptions();
        },

        methods: {
            
            fetchProducts() {
                this.isloading = true;
                axios.get(this.$host_url + '/products/all')
                    .then(res => {
                        this.isloading = false;
                        this.products = res.data;
                        let seletecval=res.data.map((item)=>{
                            return item.variations.map(v=>v.variationvalues.values.name);
                        });

                        // this.value = seletecval;

                        // res.data.variations.name
                        // res.data.variations.variationvalues.values.name

                        console.log('selected', seletecval);
                        this.value = res.data.variations;
                        console.log(this.products[0].many_details[0]);
                    })
            },

            deleteProduct(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/product/delete/${id}`)
                        .then(res => {
                            Swal.fire(
                                'Success!',
                                'Product deleted successfully!',
                                'success'
                            )
                            this.fetchProducts();
                        })
                        .catch(error => alert(error));
                }
            },

            showProductBannerModal(product) {

                this.product.id = product.id;
                this.product.name = product.name;
                this.product.description = product.description;
                this.product.price = product.price;
            },

            editProduct(product) {
                // console.log(this.product.variations);
                // return 1;
                
                console.log(this.product.image);
                let editProduct = new FormData();
                editProduct.append('id', product.id);
                editProduct.append('name', product.name);
                editProduct.append('description', product.description);
                editProduct.append('price', product.price);
                // editProduct.append('variations[]', this.product.variations);
                // editProduct.append('image', product.image);

                for(var i = 0; i<this.product.variations.length; i++) {
                    editProduct.append("variations", JSON.stringify(this.product.variations));
                }
                
                if(this.product.image!=null){
                    for (let index = 0; index < this.product.image.length; index++) {
                        editProduct.append("image[]", this.product.image[index]);
                    }
                }

                axios.post(this.$host_url + `/product/edit`,
                        editProduct, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    // .then(res => res.json())
                    .then(res => {
                        $('#editProduct').modal('hide')
                        Swal.fire(
                                'Success!',
                                'Product updated successfully!',
                                'success'
                            )
                            this.product.image = null;
                        this.fetchProducts();
                    })
                    .catch(err => console.log(err));
                // console.log(res.data)
            },

            fetchOptions() {
                axios.get(this.$host_url + '/products/edit/options')
                    .then(res => {
                        this.isloading = false;
                        this.variations = res.data.variation_values;
                        this.options = res.data.variations;
                        // let result=this.variations.map((re)=>{
                        //     return this.value.filter(item=> console.log("item",item));
                        // });
                        console.log('result: ' +  result);

                        var array = [];
                        for(i in res.data.variations.length) {
                            array[i] = res.data.variations.name
                        }
                        console.log('name: ' + this.array);

                        console.log(this.variations);
                        this.details = res.data.details;
                    })
            }
        },
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>