<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Sub Categories
                            </h1>
                            <div class="page-header-subtitle">View Sub Categories</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card">
                    <div class="card-header">New Sub Category</div>
                    <div class="card-body">
                        <form @submit.prevent="addCategory(newSubCategory)">
                            <div class="form-row justify-content-center">
                                <div class="form-group">
                                <label for="inputEmail4">Category Name</label>
                                <select v-model="newSubCategory.category_id" @change="valueName= true" class="form-control form-control-solid">
                                        <option v-for="variation in variations" v-bind:value="{ id: variation.id, text: variation.name }"
                                            :key="variation.id">{{ variation.name }}</option>
                                </select>
                                </div>
                                <div class="form-group ml-3">
                                    <label for="inputEmail4">Select an image to upload</label>
                                    <b-form-file accept=".jpg, .png" v-model="newSubCategory.image" :state="Boolean(newSubCategory.image)"
                                        placeholder="Choose a file or drop it here..."
                                        drop-placeholder="Drop file here...">
                                    </b-form-file>
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="card mb-4 mt-3">
                <div class="card-header">All Categories
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="4">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="category in categories" v-bind:key="category.id">
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td><a :href="category.image" target="_blank"
                                            ><img :src="category.image" alt="" width="200px"
                                                height="150px"></a></td>
                                    <td>
                                        <!-- <button @click="$modal.show('editCategory')" class="btn btn-icon text-primary mr-2"><i class="fas fa-edit"></i></button> -->
                                        <button @click="deleteCategory(category.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <modal name="editCategory" class="ml-5">
            <div slot="top-right">
                <button @click="$modal.hide('editCategory')">
                    ❌dfdf
                </button>
            </div>
            <h1>Hello</h1>
            This is my first modaldfdfd
        </modal>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                categories: {},
                subCategories: {},
                newSubCategory: {
                    id: '',
                    name: '',
                },
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchCategories();
        },

        methods: {
            
            fetchCategories() {
                axios.get(this.$host_url + '/categories')
                    .then(res => {
                        this.isloading = false;
                        this.categories = res.data.data.categories;
                        console.log(res.data.data.categories);
                    })
            },

            deleteCategory(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/category/delete/${id}`)
                        .then(res => {
                            alert('Category Deleted!');
                            this.fetchCategories();
                        })
                        .catch(error => alert(error));
                }
            },

            addCategory(newSubCategory) {
                let categoryData = new FormData();
                categoryData.append('name', newSubCategory.name);
                categoryData.append('image', newSubCategory.image);

                axios.post(this.$host_url + '/category/new',
                        categoryData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        alert('Category Added!');
                        console.log(this.category)
                    })
                    .catch(error => alert(error))
            },
        },
    }
</script>
