<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Users
                            </h1>
                            <div class="page-header-subtitle">A list of all the Users</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Users
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Role</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="8">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="user in users" v-bind:key="user.id">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.address }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>{{ user.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button v-if="user.role != 'admin'" @click="deleteUser(user.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                users: {},
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchUsers();
        },

        methods: {
            
            fetchUsers() {
                axios.get(this.$host_url + '/users')
                    .then(res => {
                        this.isloading = false;
                        this.users = res.data.data;
                        console.log(res.data.data);
                    })
            },

            deleteUser(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/user/delete/${id}`)
                        .then(res => {
                            alert('User Deleted!');
                            this.fetchUsers();
                        })
                        .catch(error => alert(error));
                }
            },
        },
    }
</script>

<style>

</style>