<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="star"></i></div>
                                    Variations
                                </h1>
                                <div class="page-header-subtitle">View Variations</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Variations
                    <button data-toggle="modal" data-target="#addVariation" class="ml-2 btn btn-outline-primary shadow" style="float: right;">Add new variation</button>
                    <button data-toggle="modal" data-target="#addVariationValue" class="btn btn-outline-primary shadow" style="float: right;">Add new variation value</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Values</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="4">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="variation in variations" v-bind:key="variation.id">
                                    <!-- <form @submit.prevent="addVariationToProduct(variation)"> -->
                                        <td>{{ variation.id }}</td>
                                        <td>{{ variation.name }}</td>
                                        <td><div v-for="values in variation.values" :key="values.id">{{ values.name }}</div></td>
                                        <td>
                                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                    data-feather="more-vertical"></i></button>
                                            <button @click="deleteVariation(variation.id)"
                                                class="btn btn-icon text-danger"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                    <!-- </form> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Variation Modal -->
        <div class="modal fade bd-example-modal-lg" id="addVariation" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Add Variation</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form @submit.prevent="addVariation()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Variation Name</label>
                                    <input required v-model="variation" class="form-control form-control-solid"
                                         type="text" placeholder="Enter Name">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button"
                                data-dismiss="modal">Close</button><button class="btn btn-success btn-lg"
                                type="submit">Add</button></div>
                    </form>
                </div>
            </div>
        </div>

        <!-- New Variation Value Modal -->
        <div class="modal fade bd-example-modal-lg" id="addVariationValue" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Add Variation Value</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form @submit.prevent="addVariationValue()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Variation</label>
                                    <select v-model="variationValue.variation" class="form-control form-control-solid">
                                        <option :value="variation.id" v-for="variation in variations" :key="variation.id">{{ variation.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="">Variation Value</label>
                                    <input required v-model="variationValue.variationValue" class="form-control form-control-solid"
                                         type="text" placeholder="Enter Name">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button"
                                data-dismiss="modal">Close</button><button class="btn btn-success btn-lg"
                                type="submit">Add</button></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                variations: {},
                products: {},
                variation: '',
                variationValue: {},
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchVariations();
        },

        methods: {
            
            fetchVariations() {
                this.isloading = true;
                axios.get(this.$host_url + '/variations')
                    .then(res => {
                        this.isloading = false;
                        this.variations = res.data.data.variations;
                        this.products = res.data.products;
                        console.log(res.data.variations);
                        console.log(res.data.products);
                    })
            },

            deleteVariation(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/variation/delete/${id}`)
                        .then(res => {
                            alert('Variation Deleted!');
                            this.fetchVariations();
                        })
                        .catch(error => alert(error));
                }
            },

            addVariation() {
                let variationData = new FormData();
                variationData.append('name', this.variation);

                axios.post(this.$host_url + '/variation/new',
                        variationData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        $('#addVariation').modal('hide')
                        Swal.fire(
                                'Success!',
                                'Variation added successfully!',
                                'success'
                            )
                        this.fetchVariations();
                    })
                    .catch(error => alert(error))
            },

            addVariationValue() {
                let variationValueData = new FormData();
                variationValueData.append('variation', this.variationValue.variation);
                variationValueData.append('variationValue', this.variationValue.variationValue);

                axios.post(this.$host_url + '/variationvalue/new',
                        variationValueData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        $('#addVariationValue').modal('hide')
                        Swal.fire(
                                'Success!',
                                'Variation Value added successfully!',
                                'success'
                            )
                        this.fetchVariations();
                    })
                    .catch(error => alert(error))
            },

            newVariationValue() {
                // console.log(id);
                this.$router.push('variationvalues');
                // this.$router.push({ path: `/variationvalues/${id}` })
            },

            addVariationToProduct(variation) {
                let variationData = new FormData();
                variationData.append('id', variation.id);
                variationData.append('name', variation.name);
                variationData.append('product', variation.product);

                axios.post(this.$host_url + '/variation/product/add',
                        variationData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        alert('Variation Added to Product!');
                    })
                    .catch(error => alert(error))
            }
        },
    }
</script>
