
@font-face {
  font-family: 'ShowcardGothic-Reg';
  src: url('ShowcardGothic-Reg.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShowcardGothic-Reg';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAIJMABIAAAAAzFwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAB1xAAADIgA
ABQon4St2kxUU0gAAAuQAAAAtgAAAREg6qLXT1MvMgAAAgwAAABNAAAAVnDSg1pWRE1YAAAMSAAA
A2AAAAXgdz5+uWNtYXAAAAakAAACzQAAA2w/it7yY3Z0IAAAFEwAAADRAAABPFREOMNmcGdtAAAR
LAAAAyAAAAV10n6lqmdhc3AAAAJcAAAAEAAAABAAFwAJZ2x5ZgAAKVwAAErxAABueGdd92toZG14
AAAXaAAAEfMAACD49hnoOmhlYWQAAAGUAAAANAAAADbLjE/7aGhlYQAAAcgAAAAhAAAAJBEeCG1o
bXR4AAAVIAAAAkYAAAQ0sTQ9H2xvY2EAAAl0AAACHAAAAhx3fpUabWF4cAAAAewAAAAgAAAAIAKo
BlpuYW1lAAACbAAABDUAAAsQuju4vnBvc3QAAHRQAAABdAAAAkGuaLKIcHJlcAAAD6gAAAGDAAAB
+wJ5/MV42mNgZGBgAOKvDYrN8fw2XxmkOBhAYOP+NdfA9Onwhv8X/yVwMnG4A7mcDEwgUQBh+Qy1
eNpjYGRgYEv8l8j4nFP7/8X/lzmZGIAiyICRFwCl/wagAAAAAAEAAAENAFUABwBMAAQAAgAQAEAA
UgAAASoFdQADAAJ42mNgZMllnMDAysDBOovVmIGBURVCMy9gaGISYmBgYeJkYWJkYmJjYQAKMiAB
NydPBQYHBoXfTGyJ/xIZ1nG4My5QABoAkgMAjVEKGAAAAAAAAAMACAACABAAAf//AAN42pVVTW8b
VRS99jix25pShQ+VIsoTiqoW2W5SUdVGIJG0cmiRoqipIhYsmMxM7KHjGWtmnNSsERKs2MCCHSxR
hUCsQAJ2LPgB7GEHK34AC8477zl2XOfLo5k5791z7zvv3vvGIlIvviIFMb8t3AYX5GmMDC5KWQKL
HbkkkcUlcD62eE6q8rnF87IgX1lclk/kB3gVSg7iVAtvEM8BXyi8TTzP+XeJy5z3iSvEOfEZRHpc
+MjiglwuLllclPPFdYsdea34nsUlcD6zeE4uFr+1eF4Wi79ZXC4sFP+xuCKvOv9ZfEYula5YfNZp
lt6y+JzcKD+yuCrt8jfEZ7X+8r/E57TmsolT1fOVKvF54ovEF7TmyiLxM8ALlRvEz5Jzh/g5Haey
Qfw8598nfoG+EfGL5HxI/BI5nxK/TPwF8SL5XxPXib/TuELNlV+ITfzfNa6a+T+Ijf6/bif9YRp2
urm66l1Ty63WrZp+NtWDbqDaSZyr1UEauIOauht7DeXGvroX9tSGmz4M4yyJG2olihQjZCoNsiDd
DfzGZjfZ89zUV2tJ3g29+0FnELlpe1VNGZS1TE1vBWkWJrFabiwtjUzGUofDtOTmTS25SeHNJp+t
Q+TPFPuEqDBTrlJ56vpBD/tUyc7scLIuiaTSExdnJpFtGRaewkn6QGL5G/fYtik53rH4eKbiO186
3zs/O7/i/tH5yXkst8HtyxC2UDrSBVvJVfHkGt7L0sJ1S2r7uAn0AKwA7zY8Y/JXZQD/ACsMyL2L
eU8aQGZlJfcQvYf3BlU8xCiWjP6atQKdEd5jDRlHAd4B3rt4+mBuwpbIHmJzL+CsYZxjNsTcfbA6
UBDR2oYqdYyHmvI5mr1FLRmw1q0z0pAlXNNekz51u8JxWW7Kzf0sNycy3sQ1xq1TZv/kmT0+UyE9
XUbNwXDBCdhjup4K3J1TqTs58/DeOV51xHgxte+AkTBSbtfuw9YhymHRDH1uPMzssCciVEyzRvky
OnW8ITPiM7rCKAFfIfa4ul1Ydhm7jjuQR4zbh03r7wAliKm7aduu47ELzZzHs6uAB7Dn3EdOlo62
B4beg6mHx0rqUx4yJ5obsOJ6HcUq9aknYxV1te9Yhqn/rNxkT2S2h7HeccRsmqz0aR3F0NlTVmt+
QINLhXp104FG6WitHOuY7IbM9Pi7YSqZ7ltqJ6h5B6Ngv1szKukDbeM9ZN/47KbE2lL2ns69h+6q
2b0lyI2u8HgHOtNdm9vJ/jC7cHkqxpVzqXvUWaOeOdhLLvc1+goe1ec+vXR3xTbbZr8Z0RBxg4kK
5EeerQY7NIfP63Id1x6vBr01e/sA12NfnN7j+pRm/eWc/M8aYz0KZ9r+PMDTfTX5b2aqPztmxHxP
jEuXS8uld0prpTfxbB1YQas7LMo6T7H+1un/1BXMp9ijqd3hPjPx/8FP8aUAAAB42m2SaVBOcRTG
f/e+lZ3KGwm5XcpO9n3fd5J9KVQqa4RCZSlbylKyU1GU7GQrUSplK2tKt9f4Yt/5QFw3jKHxzDzz
P3POf34zZ84DiAiUSI+upBKsNJvwu6m9Okr+/CttqDMyNilTtlz5ChUrVa5iamZeVW9RrbplDaua
tWpb15Fs5Lr1bO3qN2jYqHGTps2a27do2ap1m7bt2nfo2Klzl67duvfo2at3n779+g8YOGjwkKHD
ho9wGOk4avSYsePGT5g4abKT8xSmTnNxdZvu7uE5Y+as2XPmes2b771g4SIf38VLlvr5ByxbvmJl
YNCq1WvWrgteHxK6YeOmzWHhWyK2btu+Y+eu3Xv2RkZF79sfE3vgYFz8oYTDR44eO37i5KnTiWfO
njt/ISn5Ysqly6lpV9IzMq9mZV+7fuPmrZzc23fu3rv/IO9hfsGjQqXI8Bgj0UHbdDTdMaYa/qhC
C6GnMFKYIvgI/sJmMVPMEgt14bo4XZLukmQq6SUryVqSJTvJXuoo9ZYSbGQbO1mUTeQqsrlsIVvJ
1nJjub/sLLvaZr8Vv4qqqvElIjVuD8FBcNa4fho3Q+Pm/cWtKllKtSTpJ7dDKa6Zxq3xh+uicYWv
gqqqT0CNVaPUyWqg2kv1UPXw3Qy+6Ys/FxcUFxgw7P11SEOQIUKzj8G5yLPIV4lQopVgUA5o9la8
FCeluWKf/8Y0xTjlZyAcS8XA6Jf/6oiCiVCe/+nLb5dWAvsIJIhkInjKKkIJZjdx7OcN68hnJWG8
5wMhbGUNaSi8Yw/xfOIjn4nmMFlkcoSpTGMjLlzDlatkc4vr3OAmz3DjDjnkcpTpvGUT97nLPdx5
wSvW4okHM5jFTGYTyRy8mMs85rMAbxayiOf4sBhfluDHUs4SRYCWhmUs5yWvOU8ejyngEYUYeEgR
iZzhCqc4TTorSGU127VN0oj5AXGnDMsAAAAAAAAhACEAIQAhAHwApgEJAWsCAgKdAr0C8QMnA18D
lQPHA+IEDgQ0BH8ExQUSBXgF3gZTBrgG9QdtB80IEAhgCJQIuQjtCVAKIAq9CywLegvHDC8MgAzl
DUcNbQ28DkkOgg8nD5kP7RA8EMYRgBHbEh4SehLYE14TxxQpFHsUoxTIFPAVHhU2FWYVbhV2FX4V
hhWOFZYVnhWmFa4VthW+FcYVzhXWFd4V5hXuFfYV/hYGFg4WFhYeFiYWLhY2FpgWshcWF0cXXxd3
F4kXnRexF8kX4Rf1GAkYHRg1GEkYYRhzGIcYmxivGMcY3BjxGQYZHxkzGUcZWxlvGYcZmxmwGcQZ
2BnwGlEahhrgG1wb/RwbHG0ceRz1HXYd5B4THksemR9LH18fuR/tICQgWyDbIQ4hTCGLIbYh4CIL
Im8iriMAIwgjHCN/I9Aj7iQiJIkk3CULJVwlrSX/Jf8mEyYnJjsmzybXJu8nBydOJ5UnvifnKDAo
aiiDKJwowikVKUIpcSl5KYEp/iofKkgqjitLK18rcyuHK58rsyvIK90r9iwLLB8sMyxULGgsfSyR
LKUsyyz+LTctTi2ALaIt2i4CLlMufy6xLsIu0y7nLvsvDy8jL04vYi92L4svoC/yL/owEjBGMHYw
vjEbMSsxOzFLMWYxfjGdMfcx/zI9Mo8y4jMUM4EzyDQFNDU0fTTaNS81gTXXNgk2dDa8Nzx42nWP
MRKCMBBF+VjBTCCoCCSFDSOODbnAFg6dV7Ckt0qVls5L6GkcL+I93AS1881ksrvZ/T8bRRBgOlQC
Elr7tC0FlK/ivFVKQ8cLpBgkckwbwFkCYTxll6txQBk6/76rWUpayjAjmYmx5MmYlKsrHJEcOFjW
9EBV4Xlv85zzV01xp3ZhdM+H+j7+KDmHW9OwOVtY/v6sS2zPohN+GDOO3wGIsDBvahBEi3XiL44L
JHgDgH4gbwAAeNodxAecD3Qch/Hn3xSHUFZmVmb2LNmk7FVmRhGZhWxlJrKTPUK2ZI+UPbrp3HHu
uGGdG87duT2+Pv2e5/V640H/H16k5zHykNdyeYN8Mi9eMp/Ti/wyPwUshwIUlAWdb1JIFqKwLEwR
y6aI8y2KyrcpJotSXBaTWRSnhCxBSVmSUvIdZylKWyalKSPLUFaWpZwsR3nLoDwV5LtUlBWoJCs6
K1HZ0qlMFVmFqvI9qsmqzmpUtzSqU0PWoKasSS1Zi9ryfepYKrWpK+tQT9alvqxHA1mfhpZCAxrJ
hjSWjZyNaSKb0NSe05RmshnN5QfOD2khm9PSkvmIVrKFsyWtZSvayNa0tSTa0E62dbajvWxPB9mB
jpbIx3SSHZ2f0Fl+ShfZia72jM7OLnSTXekuu9FDdqenJdCDXrInvWUv+sje9JV96GdP+cz5Of1l
XwbIfgyU/Rlk8QxwDmSwHMQQ+QVDLY7BziEMk0MZLocxQn7JSIvlK+dwRskRjJZfM0aOZKzFMMr5
DePkaMbLMUyQY+UTxjFRjmeSnMBk+S1T5HcymolMlZOYJiczXX7PDDlFPmYqM+U0ZsnpzJYzmCNn
MtceMYt5crbzB+bLH51zWGAPmctCOY9Fcj6L5QLnQpbYA35iqVzEMvkzy+Vi5xJW2H1+YaVcyiq5
zLmc1XIFayyKlayVq1gnV7Ne/soGuYaNFslvbJJr2SzXOdezRW5gq0WwkW1yE9vlZnbILey0cLay
S25jt/zduZ09cgd77R472Sf/YL/c5dzNAbmHg3aXvRyS+zgs93NEHuCoPMgxC+NPjstDzr84IQ9z
Uh7hlIVylNPymPM4Z+QJzsqTnLM7nOK8PO08wwX5NxflWS5ZCP9wWf7rPMcVeZ6r8gLX7DYXuS4v
4SMv4yuv4Cev4m+3uOa8ToD8jxvSm0Dpw00LxtfpR5D0J1gGECJvEGpBBDpvEiaDuCuDuSdvyZvc
JlyGECHvEClDiZJhMpC7PJD3eCTDiZYRPLEbRDqjiJH3iZUPiJMPZQCPiJePeSqjSZBPSJQxJJk/
sSTLOFJkPKnyKWkyQfrxjHSZSIZMIlMmkyWfk22+pJAjU8mVaR5kuscjMzwvmQ+ZnpdllucVme15
VeY4cz2vmTfmed28XwAEv9G1eNp1zktLI0EQB/DqUWIRY5xMZHzgWIm5CIPgbU+uY48dH72+kqiJ
evC5rntYH+Mj4MWLIAFF9AP4FWb0MnvSbxZLvIk2/Kim/tV0xc3X57l0bzFuvnqP89neIj2IkQtx
fzNMdCdGGpcN40Jm6VwinbFTH+lEZyjgesyOuHfIDtg/9pftsz+c7bHfbJftyA7aViZtcbbJVlmN
VTlbYctsieUqXsWoyHYqc1hii2yWg1/Spvcdx6atyWndRXrCohnuT7FJaVKRKZ6d4LnOhABf+OMp
kuNZgqEhALAyaHg/OsdiAd6oLQppNZhS+aTKoaKEGmhVjqH6QfVhD9rYhRaamMYUJhExga1oICDB
I7xAi47bmiUd4sJaNRLithZaGnRF/gchmlc3gfvlkcLRoVOuhhtOTYeXfAEnskHW3MgA+dSdEde5
cHCxUaiHXqkeJXPXsQlL9cgQMmzpz+eF2i8X/PVVKfRCNUJ+6K9/VNs8/Om6wed/v9njIwvc4MR1
3wAY5XHvAHjafVTNbttGEF6K/lHtGGECpxDAQ5aZULBhKQpgJ3VdNWFNLiNHdWPFCbA0clgqkiHf
fMqhJ98KrNN3GSUXtae8QN/Bhxzro8/OLEkJlpFEWlDz883MNzNLBVudvRd/7P7efr7TehaLKNz+
LXj65NfmL1s/b/70+FHjQb22UvXvw727leVbzs2lxYUfyvNzszN2yWI1AbHiWFU4U4VWq250SMmQ
XjEo5GSKpzHIVQbj08iAkIfXkEGODCZIy+FN1qzXuACO/0XAR9ZBR5L8dwQJx/NM3s3kmWqmLJHi
eRTBRWUQcbQUFxi/G2ihIso3XFwIIewv1GtsuLBI4iJJuALHQ2vliZUJpRWxNSyx8pIpi7Yv0h7u
daSIXM9LMhsLs1w4F+J8losfGc7slA9rn/T7kcO6au1GD3rpG4l2SkHaFlr/hbfWcBUiXP3zc4Va
7mMNIoFrQMnaLycFLJz1HeD6ghF5OP9/2pIWljnfuWBGNC1OxkT+scyIGzGk/jzPcDkdBaxLCp50
ZK5z1nU/sKCxlmBJGc+nsefOa+M5GXsm4Qo8syqhivNuUMGTLq/XaPrZ8emQn6NdVd23A/Ob9jVE
UT63VxKDiIQgLXoVw4cNwqeKmjgyY+hIbMAxLsN2DiADNzs42pdZSBGGyyEy9baIwoaIDC8utIpy
giYXdOQ/bP3ybLjB3Y/rbIMlhgf+GNJSqkLL3iHeVW6P7uchl66HQULjS0D2E7MlcHD1jMp5WcUs
inq7hh6DTefzfpnLkmsnZltk4DE9YLtJDofWlalmo9tNLi2XjWFUpUAYaSoPKbYftozLNqFhy/US
L/98h5JbcJr1sXwll0OGCae8zjep5WhDaJWLfnSF4FTS2YJgke3rPEtmFkVhiiibdbbGLtunN5ds
JUqTmcwWKxzZHpfQhwToDgV70vRmZp3tt70P7c6BzLZd3JJXU1ru35z4Cmn85boM7X1tMFC4GNc7
yOjyBfSabd7eyK0x/U9pHQOPtdLp6PKkC9wBPQwCfSyUISlp4KPLf09djN8n6KiBtWXyw05Pw75s
0hjqXwBC3YCHeNpjMWTgY2NgsGYAAuZvIPL/WQYw+H8dRLLdZxD9r/r/LnPU/1dAdZKMJ/+/ZuNg
wAaKGZSBmGTAeIiJkSmKSZLRi/EF4yxGNqYoRkOmxUC+CoMXgyWDHFBFBlM602kgrcr4jjEXQ/9e
oGgCkzrDS0ZxJkMmPkZRJLksxgmMQgyHGe4ydTEeYpRnmM4gCRSWA7LnA+XyGEHuvctYx2gIVZ/B
8I4xhXETwwpGboYnjDbMfkA9DAwf2PwYmhmWAc3Zw7iJUR3ImsOwm3EuADuLMGYAAAB42r2TP2hT
URTGv/fuva9pplAECaIxpKE+SpFSpNQQs0gJUhyCQihBioS3hVIcpERIoZRSRKG4SRGRDKFDcAwO
goN0KCIdioNIhQ4SKCJFOojw/M7NH0Pp3Ac/vvfnnHPPPfd7GlgBL+dlB7WMNTWOqn6KgtpG2ith
ysTgO21UVQZFMq9eI6/voepOI1AFasDYIDzQLfh8HlFNXFc/Ma3Xw7YGfD1L5jCjy9QAE26LOS1b
L9DRjqrfKJm/SOqj8Je5y7gPSJk31CXyAL6pIOXNsH6EvELUfOH7LHyPMSZBNhhf6Ooyv3lIGmDE
bFEziEZyzDkgkhvFZVWUnnGRGmHcCfuEgVM7t/VLnGkdN6hZxq3JuhauK2v2a251ZnIm3dhBbH8D
9OucRvoaQDfgu595DnlMqhe4pnbIM8ybQ0xGhpFUNe51g73uSb/OIkmpdQTeYrgv9fQJRtUsbrvv
MEcWZJ8qhooq44n7FffVKMYE50f43d1F1m0jq68i08vn+Res95p4rL8hphcQpze21RQm9CYqZGko
jyo+Ab39S95QuYM6RtUr0kt3kCO+G2cfcaRZp6Bu4oqdO9Fvwz39Ec/dfXqQ8NxXLHXmiC+ZI/nD
4+xP1pG59vT/fNGfb3eeUuP0XO134I/4S86YrHJuu4T3zns+P6TuSIxu4pKFvrHeoUcE8Yg5QsLS
3YP1GZF/kDTcBqLuMWeQhh+5Ra+NWXzJkZrs61Btcg/sUdWRUD55RHL03yq1Rvh+sI7EnxVnirjw
D+y43GoAAHjafVdpcxvJke0hgD6r+r5PdAPduAhABMELJEVJFEeea2diZ8f+sBPecITD/uJv/v8R
+7KahDQRFpMhqFDVnZX58uWrgiRJlSR9Y2vGSDo5GQ5HQ0XGf8PRyXCALxjA5NFAfFFkZaTiq4Lh
SFPwVcYXWVNkGU9i/Mr6yVCW5dFIwaww8kv+h8rRsCNM1Yb0zFBMDGT8DYcngwHc9dHgn/oNdlLV
IWZOTkZwPJIHA6wMToYGxi9+R8KpfDSRinzSRzCinDRNU0ayyJNsMHgeyJL+jIc8UgkPPI3o8CR5
hxOBx4gS1OSRomI40lRVUeFalfUv8Pjq+kkfmKqqnwOURf5HE06Gqj6k1zBPeFC4hMcQ7hAB5SrL
GvBQNW2kUgo0QRUYESjA47PfETn9Ao/eBB4ACxkOdR2xKcMewOHoBY6hIhlMlgTWqCum4Xs0eMbi
eQOAowJvDc40DGWRL5JTFUMFL0aE1ivrJ6JahMczG/4THgQ/mKrhGfpAmKp4CBFpmir2kJGg/o2i
qLo+0qjI8jMe5G4wYlSzZ7+ywOMz/2hHRTmhoJT+IcNAbCo2pWoLVPqRIjEu8MCGujqgjYE7uE8V
p7cJoRGIryo6QkEcmmwgQgpcU1kfKzy/sn4i0FSIoZ+NGKwdTenxYCOdyKBrL3iIUmq6Rs2HDlQU
A3hohiHrhAeQQ1yEB/g04l/4lcnp6DPetKKqJzRLX5ATYwzvjvrmJTyeB6rEHUUC1i94EImGssCD
nNC7YK6OBJGvphM0BiJEzJqumogfPokOX18fiMDwVf8iOhG3/mKqYKPOASVqCCojQE20/UA8Ru0m
VIF9o6o6Y5/xAHyYVoGHQzURfvE+Of0CD9pTVQe6LsAn9DnnyEnIHG0t6kEjTTJdgQe63dAGtDH6
QyZiCR9CJGUFjlQDoRiAps8X3nQd+SJsQKC9sj6QRVm0PhoaCrd/xIPoaJiyQS8YRIiRTmIpEx4G
yRAIhy7g32iazrliEOnRmS94oIQukVL9Eo/P/KMdNe0ZD5GTaZq6qsvKUXCfB5pkuSrwoLOA6UQ9
leQRyCnCCb0LEaAUUTudjaAJXDfwpyJO2+jxwGZfXxd44AHD+BygJuI2XkyjflAMS2F4hj4QoAHp
EYXTmEHtplL6JjhvmKbCXvCgABGmwOPFL6SBnH6Bh6iHNqAIiKXwa1kWchKyT1sf5UGXbO8FDy7w
wKE3UjTSArXfAHioDAlCDKC9ClMtg+GPEnQYQ5coQPqV9YGoFtaMZzaQW6qFwcgEHgS/wmyFMxSX
o7UFHrLQUI0zUBWdh/StE11nlqVyEgFNhghodHIBD8WjJhV+GVPJq3ykn9hR1wf9dshJlm3bZppB
ePSyQ3jQwJAcTyM8kJRpDIUkAg8gp5IXXRwaiig51zRoLzRS5Ms0nRkuE7UzNOOV9YFi9Hiw/4gH
mU6XCtV0FBPxqiajewujWwxdIjQTeFA0wFXgYdvPeCh4E54QpvxHPDRyKh/pZ9CehjHgvMcDObmO
w3UmZJ9kspcHgYfraxK4d8RDBx4qkBMiQFIGPDSOFDlCMWVAYzGOP83ghscZVEMFHq+sDwV7dcb5
MTqhkDJmno3w0FTTVS1OeHADePBnPBTN5KA7RAV42CeGwR1HM0k5deBh6D0eI8Wnmgi/nGvk9As8
CATDGBIeVBX49VwXOREedBiogp80YpIX6oQHkrIYtaJOx6eBXqG4aTsVUmAybpiggIXokK/JTQ5Z
Y74JLsMJJP/r60NV0BST7NggxCqFmWQUuiEOKMtTbRNkt0zcDeTn8xPEtUy0LtIArs4JY6brahaJ
oq7iTTyGMHHGhdSkwi+kkrwqR/oxqgFjw34zgYfveabBVTrfSRie5RKCLfkR4YHjQbM54WFALzQg
R6IoAgceouSWYZi2gm5wuMUtU0fOgWVyuEPur6wPVQLCwBT7DAjFzS0ywoQppFWWr9kWimtbBshr
ijsD4WFboDuYADxc4GG5rm4THmAS6kR4MFA6OuJhWTp5VY7040QKzoe0GbEUjgPfR9nQA71M9nKJ
EZeCyBB4MN0hPIA1rjPofp3iZuhikEW3ucksRvnqFrrAMlFDfEaWBdVAN/FX1oeaiAjZvwTHyO0L
HmRMIamyA80hPBxIP7ISFcNPAN0BHjo1EmPeCeeW5+kOiYCh4k3ggTBxHERUE9bjYZDTP+CBNuND
2yZEDGJjGAQ2szQ6BkkmBT9pZEphTnjoGtcdE0eUzug6wUEPZvSB4yA1bNPiNkrjABrmmbaFGlK+
tm2SExyBX18fadQVDJNm3yDklnI1bTIKndPtRHdC3bVBdtcmwbAUXfxSUZlrg+5QIuDqn5im7fuG
wINpts05Oh1NI2u5yczer20b5FU1j0akMM1Rvx0jNkZhaHNLN8ShgTON5JJGlhTlTEIvosiu1eOB
64yJXqG4aTuQxXBQcIdz20W1kK9jOTYlGDu2CW+I5JX1kS5CMjE2j4oh8HDIKEgu2tOJdM8BHp5D
eNhHPDwHrQsYgUcAPJwgMFzCgxMeJh5gXCU80KDCr+Mw8voHPCA75og2IzyQUxxFDrd1pvfHhiqO
D4FH3OOhm4Zn4cgG1j0eQLsPHC8x17JFvp5quFAFx0a++Je44DKc4Erw9fWRTirBLcfpm+OIh+W8
mKmSVrmx7uMZA3ggQEcczPg1Czxw/bFwNTHN8MSynDBkHp0kYDTgg7QwE5f8HKL1GQ+YemxHEBPc
tUauS4jgIU1L4tg1HXFNIqGk40OMbCkrTeDBDIsFDo4oZuGGadgG+h1Fty26Dxrcd1zbtyw3MHBm
RK6HP9P23NxH7aD6qPTX12WDWGC5ntcnLzqENBUzz2bjdsJZkLHQRzKhBwHRPB2XHoiZboc4thm6
DaqQDBzHSxIekCgCOc+2UUnTxo+mEqTs/eLoIKfGEW6AAFo5so9TxXUtC2TM89y3PdS8l4VeHjBy
paKyJGBt2DxycURxGzcq5jAOulsoMd0HmRm6nhPYth8xVD/xAi+AN98rgwBXLrDHfWVdZi4KY2PK
FSY6hDTEC8h8mIPbicnDgscB7gURpE7XfUZ4KLphRwEo5doWqp4OXDfIMjMi0tssCBwX9LQcXWWV
a7u93yCwyCtzj0aIuK5M2wkIDaMsy8DxwSjIAp3BkAcx8qRxZwMPk7tW4uNAtxwoq4kjAt5RdRcP
2tyO/cCLXCdMmBk5WRAFUej4YVBHoY9EfEjc19cVjuA8F1O+MI8iFHFHZCHMMzgEKB6baeT7+Aig
fyFdLrhqMCeNIOceVNZ1i4HvR2VpJ9QZLsebvmHYtocfTZ3v+r3fKLLJK/OPRtT0fSWOQ5wrDtqE
13UdeyFqjvDRBwbVg0aBVHeOhNOee1YaEB4ublSmh1bxgIZHeEB4Ej/0Y9cNUw6NLJAa5MiPwkkc
B5CrwAleWVdMqhbwiJ6jIzxIQ3o8yEBctGZcm1mM4mYghGFEnAQMYulkhIfvOtzzymc8UtINl8ex
5+MBxzM0s8eD/GJvcsqDoxEeQQA8CBHUmPGmaWIvQocd8ehHodQuPOBhW4FTRBqo5+MGYYeW4wYe
qu7TeW+5eZSEaeAnhelkfhWlSZp4URp3WRohkciLvr5uqzaxIIjStE8+pAhJ9THzbCGprZ21dpmh
uCWccp6aOBAtnClemYKqke9ZQdAMoyhtGrfAnUv3LbwJGnlegB8JC5Cy95umHjk1j3CDLR5CVLMs
TZMEnWRaXddlYep4DsK3bQcz/SiRlm8CCdxzYq/OINhexBzuJo4XxAGqHNH55gRVmidlFOW15VVh
nRZ5UYRpka0qxOq6aZC+sq65CC6J0qLok08oQtJUzDxbbDlQm2rpNhWSaYoE50Zhe4gP4uA3ReB6
aCInjrthmhazWVCD9EbklGWSWoApNg3nTRqlvd+iCMipdYQbIIRhmmpVVZZ5jpwsZ7VaVUkBoXNc
agPM9KNc2uwjSdN8JNUWkOYg4Z7pZx7qGSUwNCfK3+RVVqdJNXWDJm7LcTWu4mJcbpu6QCJFVLyy
rnlFnmdpOR7nwjKKkHoGM8+WQW1Dv974XV0UfjvOIXpjx4cGGraTtuPID/IkAq7LUZ6PV6to6nmM
JV5dZ7kN+mW4BO7zNO/9jscROXWPcBdZFsdFoTVNXVdVkoD82+22ycZglOtTG1A7iFEl7Q6JpOuh
n0fzMSQoykzIcxlESZ5kMAhR4idtVZfTPGtmXtSmi/GknjQJPvftZAzyV0n1yroeVChMPp5MKmEl
gUIHImaerXCDMA7bXbiYVlU4n1Q4diceBMFnjpvOJ0kYlVniF8VmVFWTzSaZBwHnmY83S9dNksLh
waHKq97vZJKQU686WlEkyXist+1kAggzx/X35+dtMQmTCMIXhhFmQjGqpcvbTAL3kNSqgWDHhRXa
0ThMsioDstguzMJsXk/HXVm0Sz+eFaumnbZt1nSTq3nXgPxN1ryybkQoy7hs2q4WNsZZV5KuNi0Z
OrmrvDBO49llfDqDzq3aGqLX+REOZO75+arNoqQus7CqzkZ13e522SoMTbMMu25ceV6WVa4Z3tZl
3fvF3uTVb44GBmZNY8znXTedFoXrB9dXV/NxG2cJtD+OE8zEYjSVDo+FBO5FdbZpIUFpZcdO0sRZ
XhdVNR6DMWiH1bRrFuPxbB2ky2rbzmfzeTFddLerRRsn8bSYvrLO4ul02ozb+WIqrCEyk6a2c7IF
rPHjNEuXh2S7nE7T7XwS+/4iQqyR6Qfldl4k2WRcRHV9IU+n88vLYhPHljWO8OY0gFg0vhU/TsfT
3i/2Jq/B9GhNUxRty1arxWI2qyqIwd3t7aqZpwVEIU6StJcHjGbS48+NxHmRddXF0s6ycurlfj7P
q7pr4KlFczZZvVuczrdtu96n5dn0ZrVZbzb1crv69uzNEuRfNstX1s18uVjM29VmuxA2J1aQhqw2
ZOjk7SzOynF59lhcnS2X5eVmgWNmmxZxmtpRPLncoDSLtsm67l5ZLDZv39YXee66bfbmzWwWx00z
i9z850W76P1uNg15TZdHm83qerk0d7s3b9br6TRM0qePH3ezTdmUUH10AWb60Vr64S+dZFl1uWru
tm5ZNougCsen1aRddvP5cpEkZVe215vder9cnB/y5mp+v93v9uft9uLsx6vLLaRz222/vj62xtvN
Zr3c7i9E/hjCSEO2e7IL2GlaNZP66of6/mq7re/2axwzF0WN+Nw0a+/2bT3ZLLpytfqobjb7p6f2
tqrAoPLy8nSdAabTxK/+slluer/7fUde8+3RTk/bdru1rq8vL3e7xSLJi59+/PH6dI+aow513WCm
FqOd9OvflpLjTOtt9+ECLdetoyaZnDXdYrs8RZnzvFk2i7fnV2eHzfr6/bi7P326vLm6uVnuD5d/
vr/bQ7n2y/0r684E4nW2ubw5nAs7I1CoZy5vyA6wN0XTztr7X6cf7/b79vHmrMnzQzlFfH5Rrh9v
FtNut17W2+2P6vn5zU8/LT40TRiu67u7s11RLJdv8rD52/nmvPeLvcnreH+0M9Buv3fu7+/urq7W
a5D/z7/9dn92g5rXU7RBh5lWjK6k3/+1kVx3Pt0vvzuEbbvcJV0+u+yW6/3m7Oz8vKraTbt+urm/
en++e/unZvl49tPh3f27h+3h/d1fP344dLPusDl8fX3mzQ43N1fnh3fvRf4YwkjlDu/I3sMux91i
tfj4+/yHx8Nh8f27666q3k9nNag9rjffv1vPl9e7TXtx8T/azc27335bf9d1cbxrP3y4vKzrzeai
irt/3Zzf9H7fvduQ1+ZwtMvL7fZw8D5+/PDh/n63q5rp//31rx8v3y02y+kcMrbEzEKM7qW//3sn
+f5qfrP55SGez9eX+bJc3i43Zze7i8urq6aZ7+ZnP7z9cPvp+urjf3Xr7y5+ff/0+PTx/OHb9//8
7tMDyP+we3hlPVg+vH17e/3+6du3wm6vYXSqvH8i+xZ2mCzW29Pv/n763989PJz+8nS/aJpv29UU
6jCZ7n95Oltt7q9285ub/9Xfvn36/feznxeLNL2af/p0ezeZ7HaHJl38++31297v09OOvHYPR7u9
PT9/eAi+//7Tp8dHQNjO/vmPf3x/+7TebearxenpBjNrMXqU/h/Nj4psAHjaxL0JfFNV2j9+lrvl
ZrvZlzZN0zRJF0rapguFlgYoUAq2FbEsEgrIJqBQFpGlg4gMCrKIIy44ivs64zKMMr7u0s6oFEdt
QUeKOu6jZXz9M+gouf0/5yatoO/M6/x+/8/nb0iak5zc+zznPMv3Oec5j4igKxGiVwpzEEUi8sZl
nuo4JImYQyjaFe3Cyoku+FdSHLMELKGAJXAlRckrCVKRMOefd1zJz0EEben/gJwSEFKQDzXG/VGp
ViISsqx3ZRuKDcSgLHdd6drvoi5Xlt8geQ/2fxU3KrZ6r12CV7tOIai2trC38Egptliroon2o50J
t5Jkf0qKsUAFUXDYXfAqhmmYYrsQzAmXl1XESl1OcmrYCJ8vm/ALqka5q4P1QMq0WVs3z50+aoyA
+tQ/b9u+b5giY72ovxuvfBD/4rtbG5csaT5/YawCqF5Py8ljQDXjOz9uQRQYrxWxKEo6IlARqKru
rWYktUcT7i5L1YaoG4YB06D2II+Z3rJNtLxlFVCynLzGnnDNyeh6ropfhjJRNmqJ52e79A6b2eDl
kOhzZxuwZDBIgRyPw08s9XbJIAvGFdlUyXTZUTQWO15amiwt7SpV+tgru3FVdEM0EYu5ew8f7lAO
Hz7UVVqqESDGRCDBAg8ajMQiQRqjAQvMj5Pi8qCDq8raabrWujnjhfte9F5tvda0w3ejGwcewNnY
pZ5+gKtVTx14We3Bhez58gFswMXqn/FQr/p3tebAAYQwCvUvo6uFtagA1caznTKO5BrM5mwJYe/F
0hArvzC7MJRLF0WIe77JYAbSu/pq+2IgKUf7DsHzaAebxq5uGKwEpuFgjsNuddhFwYyDkWBOJAwP
Z6y0vIy9Ky+rrKiMBESny0lXu4YVXXfH+KJW4RmuwTee0wmmoqLtM1taZl50wS4TjgmRhtH8e6rR
eut09cNLNjSWRr84ZMtuHNJkvGriZQsXbN5wX9vCIfe1Y15EiEex/peFAiGATMiLslARqkJXxMf9
cQjuKMB/NOJOPc7KyHzMh32+8Hvo7zBz15i3264RxfAI/zVDt5de8+fw+2ESHp6zouK64m0FGVkF
NNOn32a5zrWC6lBtUu2LdtR213SAnKp9wHgC/jCu4U/CAjJc0+XurYEBQAn4DzsJ45vxyoSWlrEh
ccEYVFbYcESH7f/yayEf/9fmHYkZc6dv/+WFsz67oMXlDQW9TtuZmftpszrlv67aOXPa3OnXXnPh
rM+nTHG5QzleNz7wjPr5db98tvvyxYtXqQ9v3lxaODRayB34zny+oFeb/0v9cvuW599avXjxavWR
TZtL84uihcB9fv/T3KegC0E0BN0Zb/VYMW/FwxR80Iql3JCVs4s7BR8nuKZmLMxYk0Ez5g1zYo8T
y07szLNju93kDuAA8gtNAhGGRi42FeX6CgMSJ6NAKLTbqoMvrQGr4CKFK2WdIIG+99WCeNdE3dGE
8nm0RjliqapiAo/dIEAwnEdrjiSsVfBtB4xfMnEEvlL6LK4qsAhsQJkxcLoCEWFg4CoJvAaYpVBs
FdB0OXGEWQ1nZQX3qTNzzNS8+epLsQef+v26jVNnP7xxJ3liR3n9dvdwV05jZvKrXetLh1YW4y/D
kZlNTffW77x0+aPXr7mqAju2nlx+xfQN/6V+oH7mv6hg3vqh6pvvllwyLDtT4JmegAXByzQLEozb
4Y9Cs2kznU15iVKOJxRMSJdm02Yl0pYDLzMPWAz4/bT+EvKh8DXSo6FxK88RvV6HyAadzmDkeD1i
v47WaBcA05OEMYDxUk4wscKEKjYwh8Si2MiHn+HXX7xrxW0f8N+qf1HPSx5X71zyCtbhS/AcomAH
3GfG4H2icSvHi7KMdOIGhAxGWUd4DkVBkFOUtp91Iw+7kUKJGLFSQkNW8uG+lXe98Bahn+IHPqBd
6u3qzeo//rgELySZ+Hc4/J36BRuTevI5ncafRhZUEHdadFyzcbfxfSN1GzE2wkPco8go2pGsxp4o
zKS7w3PoENwm4hIjYqRSLHdFKl2VLrGSTjvZfu/qSx9q/+KL9odWLrt33RecInbN6Xlz7iv6l+XD
83veurhT0uYAj6bvcMuQAcXiXoOeoJ10h6yTdgocZzRxu4mwx6DfrduFavuqk9Untdno/PLQoeSX
HdqNxQANlkUCkQANUPpOkfq19BGnqiW4UMKKRBu/Uj+Kff4VDqjvsXstUJ/Ef8ZrgbdA3ETIRgUr
smQ1yCaBAE/RziqwBKVdiSpPtKQ4BO4KLFxFpCzCBNLpsOMXK39pqcqqiJLckvaRC8x1p28mRtH2
4tKWW00RZ+mEC5tT/Mwmx8j1IFOuuA4jkCKONFAUZVamA/4xOQpQcqxIJSXkevV1XMJ+NRk8sB1P
gVHIj8tofVy8UiSiUWau1gBOVt5Ima9lpquwr5DZqz6g0J5WHzA7TmLfMmPWqLqr5lx09a1Ni8sr
wEkuQrj/vf5FtFnYigTgWBaQhImIBII1iYEnU1cwdeylpFiHIxU2q402J2e8Vq+u2iPk/7O2opO8
gy/A3yDNxnzM7RLsyIwyUEU8cFDAyngz2gjf+Gp92D5eyvyTFVsn5hmwgbobOCNMWW2iL8HcSkI5
wSiG96JGs0VJ2UqsBHMsaVvJ7br7vk/+efe+x2/9+m83PaAu3HtDpHBUbVEBDam/++bM91/h8/G6
Vx998rXk77BbfW/Z1NnzZrGRs/ar5KQwAlnR8LjfaOKtqJmboyvm4/x+/gWe421Walpp1Ok4iSlk
LUiPp89dy4awM3naAw7gRIeGUggNWAGeMMtEK0JgkE6KJp5XxxCAQjDr+a1t2D99j8AdTn6jnkm+
hcux3IinUaOo4ObiLYVNjJYo2JBrBR+gh4p4hl60zCNGlOV2GZpBc3yOhV4iriMLjAawn3Dj5Ce1
mufpYGJhqerr7mTqitlQVDIqAhFrZQXzssEc0QajxdFr1fhDkWk5w00+kye5vmjvsIbq0rrRtdG9
D72HDdxMtTP5D4nqhiwsv3gBFrY8tm1uWaGfeCu+Acoq+0/SF4VslIfOi0c45M3IQEH7xYJ/Hiow
mHOD+cF1gUVhjnOvzMiQw9S8zrJAhvkDEkHd+jRzkvyECfDRTpjNbs1VdliqgGA7s+QMHQRzolgD
BgM0M7UpL9OIdzk5+uK40Q91bVzxu0dCOUb30uZxM4aUXGB3RKYW+G+eennk0UM9OINb89LyxbNm
9DzSeqHhxoqZocm11flF5FW5qrBsay7+pgaTL0EO+z9HiNsBVjsDMNr0+NCsTJtF0YlzBETddiTs
Bw+Wk43k/TKRA1kLLMidPZ/TWeAh2ojIXBfDZVGlOtnTqWgT0NUOL+5Dh050KsnOw+2HDrlTlkUQ
g4IjAMaF6X9FJBCOBBiYBQ75cEQQuR3ZJtseorbyyWOLsqPRQhnLgh5/q7dxvLE1nvwt5Zun4NNr
Sy/Yfumi3c9OuOTum/7yzCvfJ19t3i8Je9/5cjOTGNAp2iXIKBetitdMJFgI4geC2J/lD2Rd4rLZ
XS6by+bLNF28H/qGZcFqtm20EVvIqvzafwc45QCXtdpFZMN8pm3J9k53bR9D4DF4y1Q7UdPRftTd
uYHx19fe3WGt2jrUXSi1K4cYsmnDg/o4AOm0abNV2AKlJRWVNCCmAE3Xb279ZtsywSiZLlvyzctX
LL00PD4rQqL1jrwZakth28q7V6zCX6vfX7chI39W2YU1t11XuvQOPP8prBBJtd3lW7MuZT26uYhQ
ghyAUZriQ++z49V2rNfPMRhE58XZaDZajvajxwD4hTIU33Ix1zNNsVqpQU8DDVQzJR1M5tiEAbxm
BpB5uc/dUQYosIIYDxYAEjae6U7KuJQxMRRSWKyCi6jfvv/NdTcsTnTid8buvS13Tuv+RUvUWxuH
1RY5AqHaWBOJqp+pz1J6+7245KPkCZw7b9SDXefnr2tX326eWxQbPq22fgObs6r+k1yVFi0VxR2K
HlnNJmGsaDGt0yOkn2pOCVlKaZjO9J0A/e7SjAzYdOaIbdZKExYpz1WNKG+v2zJLPZBfVz2s/Nta
B/0df9/yxf3oOfU6dYoV+8DKWB7FZhMxcAyl5Pd/yY0A++KEMSxCc+NVARPOIdhEuIKLd4HZHafk
XsyNi7qWZwOZvuXKUBOJLIhm12Yvy6bZ2ZJ39XjAenTIAiltm5ms9FUxr9d3PNF35PJud58CL+yL
KkC+zB4NKLcG07QRjpUibWRhYDW7TcvCogk77GChRvRu2r7l9oc3Xb3pne03ffIujqpt48vK68aW
Dc/xB2OhcNmMaVy+2rl0yf37rlixYtWvH5y/Ag/v2PNr9V31nsqWlqrxC8tK1Ky88RiPL1wHMlPU
fwz49YNt90NcWrCG4kwdb1uOOK6B540K6D9BAe/F74N5zc6s1+l450IFwBsHbrKWaQLALk3D+5RO
QPWauAAKrapinsgOwCjENFtggoMGuNLkBT7mRuxsf1h9rTBniu/hrY/i4R+8jTPUJecNi+WEu8yK
nb58VD2i/j/HovXxfTPJ2l/jgiRuVR9Ut9U0h/PHHdA7ho1hESp49Vp6Gry6FxU/jozMnbvBjxvX
C1rsHIfpyHBtVHR0o05gU6JRW1idLGQG6OxA2XaWr4ewuWbrtFlbwNePGkN+OXXWmHFb5s6Ij6Ej
Ghdfcv4FC2IVSWPjEg0CpOJk9UlSo1GRhaqeMps3QtTkQIwWO9CA1guMFMHvyrCZ03QwLASUANRo
73an8dA55NCfgKOzSMqv3Gwdll1RQsLRjSPnW34g68xTp2+mBsnKEJMh312cRkwLcDPp4R4DjDIy
nv0kj118hCdOPswTHnMAWUSOEgFhnsf7CMOBmmb1dsE/3K50gpmrtlS1MTOgY+pixKQneT1Zpr6C
K3EznnUPnqWevP12Ng74CbqLC2nrBb64kQMMTSVhpUhWUsb0cTb4EP92aqgywp50lz1pt5NTjmSL
lQt99pm6/uTJcymuiWf/gWI3zaPEQ/MBRGAkcUAxz0AWpWif8COKgVogepBgSxG2aATjYeqfyDLy
W/UubL39dmxV7wKKZ/Z/QJ8UCpEHhdHEuMfpMCrzmhAWgQS+zWj0rs/OjuSJ+iCbSwUmMbjRx+bS
p7MtclMmT4XJwhOdGmbug3+9CdAEDe6ASqOBNRmY0vKyNMjIPneWn5yVpb7t8C1oLchob6yc1Ozf
ejtxqu+CyF2rSRy3d8OGiNpTOCSbWmzO6jGzPqupasgnctF3y85ap4G4kn+X70Uj0Vj0avzKhTV4
UTm+vwjfMwS3DMHlQ/D+PFyahxdJOF7LZd8CoPwWX6bL6cxsHo1H75B/nYmr5AkyySyW5eJMWhkE
3++Ey46fWrCmgBTsqBxnn++Kr4ibmk3EZHLV3ST4b6rlMEfMxE+ihLqIi8QiN+0acccIMmLoTTGA
4lHNwkUhdu1IAJphhgIcpIYGAKoy3+KCbyG+UfoSzOsoHcmE19Pl7ujQwtfUf1gJ5PwQwMJ4hdNQ
zeVkj8qKAfSGREH7wME65zLoG8hm8W2Y2Uz+XXX01qnNFywfXX3BpNb8gBAqqLHZL72sYWuBokjj
xkaCv9n5zAmIW8g1vzo9pLpq0j9eU9W/vo1H4+xXu5N1jpkVAVqX/GJy88S6OUvrR5tHFkY5LOiz
qx4dpa4jeFbLtu+ubVOf/8undz5OMH1AuOMwXo4n/fmPB55NbptmjJcBnvqq/0PuK/BnNrCyh+Jt
BNTOPcKOR2Dsxxjb7ZOsAbvV7rMGnArmYHasViGQmenX6QTZfZEb57qxx433yDgbAJDbfZ5Rbze6
nUa9zozNRr0gBPRIFjDK1mXqCf6C4HcIJm6rkZrtdr1iJnrmLWMwyjDm7V2JRJv7aJclBv/haNQK
lgcmKrFVAtjCA2zB2siL0gvSC1pYDXZ98MturH1VXVKcjyNMssFAiQEW0QScNivP7BX7lEUaXyV7
Q66ZI+qrLNkV6on4LydXkumZ7WNVain0lrtKMkJZi+NbdGXh2rW5o178hgzDG/CFv06+pHY/Xr5m
9KrhV0/abNCl/PG7fLkQQnbAojloTnzY/XacOdYoYtExntmJXHMuzvZ6AnWtFmxpNIaCXFb9Mi8e
6sVer94zwUYtxCgFGvQ6pqtpjwUxdR945NOfJJLth4B3BuOYd2aITUPbWZh55EBOKAzmBkQJg5CJ
VFt2MmMnX94y4dJx017fr555X+0Xneas53CQFqqXjBx2kfn9wH0Wq/A6JxzYfNnQrG2NL80YF/qc
mHEG7gslQ+flh4j6lqS+uIr8QwfUB/t7uBsExltt3GTWZyBUjOIA0yCSOtj/QtxhddQjnzDOEc7M
IBM9VNdg0ZlTS0N9MWCgDxzILIhumD1NO1aGF9gcCMHsVAwYKHVxN1S27J/X9rvrL54uu03G5Y+q
L39w6s338fbnLqTbLVNmPb7t8ZL8yyY0FfZ8hlfhad1/daZjUX6jkIFMyIWq47k2e53gcZvzzMQ8
3g+kt+qwrlEIuW0T9VRHBMnewA2MsTa0MJ6JI4D2NYQjBLIjbChjTCu1wQTV5Te+/6k6U/36hgxj
zjtf4ntPquqC1qb1pivPX0BOqTe9fiyDfIqz8Df+Q28mT90wbjif3CFNTDBED9FJHWiTD+Rh+DI/
9jQ6DBI2g25FQWL8isBb6lrBAzd6Q1mGdUq9WagVlkFcIXh9eB0/wUcc6yz1XkkLvpKfaAvqLPQa
kAcNy3d0lh79hMEzyqRadGqDCm/NuGIgeASGuLrC0Pop88yX/VPvNul9qyoWyxNfCU+VfCb7mU0+
yS+g5FbBLJHnqRSaX9Ms6imGOJI6/JfXJKiCjfhDlOanBvhxoAnxSJoTglwpPhzY0WgNOQ1KvSQI
VgdjwEGsTAhSpMf6Sn9MuhbmanTTQbpFqtFbkx+6on6uZeEx2aE3Zs6fOEFKvu6XQkDndgGIU58j
lqKFNS2CQSDqPUChCf8VaXL6Lj8X5DQLtcYrdBL+hwc/6cH/dOCnHfhBB87KGMspFouM/OAUsl3j
5LD/WtstEEVNNCEkmGhGg6DJBpCrsNWK030aoZ3Qbmfrw53pVeAETq1bMnHJTQuvbTDCqASG+Lmy
Xdb9Uu1Xr/q7+sk3n+H1u+6pHL1uX/t1a+ZtVgQHuf7CL3e8GHmkC9+Ir/5LlzN5rad1yb23XVjP
vTJyZ3qsBQXG2oNmxivXynithN3CHR7saeLrmuH7Ri6SYTfutmFbk6mu1YqtjeaQVxaMy5zY6TR7
rIRnChjTzGmiq7czNfYfJaqqFDX9RguXtNUOmraR2tgHKHNYVFAsmZJdJXpr5aiMMiUkJ7t8ulzy
XHTCmMIJMQGdTvao36r5uFlwZVrW501QTeQ97CfkTKNIIaL5bYoH8p7AVvBDcYcY0cimda085hu5
kMATjkkHEPYxiHXiJJMFdnfyXkRvTr4OinPmdbgDC6/gh3L/e3Q1vLWjhniRpECEo4BytQJqbkQK
LlawH9wRYE+Dcg13M0d0MMGc0iCtYxP6MSAecOCdcK/j4FWA/U7lRKIztdZjA/uZinph5pgdpasN
DpP0rvrN7ns5k07xbxwzHGfZigX0rOpS56ud9wXyFw2ba/LpdfPwt9iNd2qx+yP8MSEC+nBXfJbO
U+W5xPMHDzdbwhsFvJHHUzh8vgk3KJhmuH3IZD1owBsMmEw3XGIgBgGUhCMQxmEUcCsua10rTGGj
LZTNmYEld4bbJLgJZ0A+J7FJkgFFayC2rz1a0wle0lrVDriFLbUPaJZSDTClys2WkY4kWhMQ67Sz
FfnWhOY0UsILJoYyYJJWuUgwPe8xiPcreSd/rPKhxN2mX03dP+bmC28NXz66hpOTxzL0ueRgRCxI
hKtxxjb+sQXqwd+rbzrvTuz2jQpPGPrgvDb1AerHAn43OetybL78yMisAZtRCfNmQqW/Q5wiM3fh
tHrrZX2dZpn5kFlH0Dp9PZ+ycyk57ShMgW/NfoU14pizrpQzTPKZNbzdmEOerJrzUh6O5i0bNfUL
koHt+JPvBQenzcW7wlq4owt9Er9PcrgdeY56xzQHP94y1UIqLFi0uCwRC20QMZ1nW2W72kbH2bDd
lmsrs4E0YLJE2i6RVgmPkCZKZImwXSCtAh4hTBSIwE/2RFpBshrZGkwdcuFlrtcBU9qQiJeJr0NI
vx+ATl2rCZsaZUk3WQ65n5del/ol+rzwutAv0BdsX4GxESQquyCQny5iPeADTmaKCuilNhaDKdXg
5Olkh3I6kUx4ehNt1fB0JxOnEyeTHSnrw+aVheStqQlN67AO09RQsanVjP9aU4ZJVPfK6h3qZlm9
WbSbQqQma8KwOYUr8+MCejPZrT6kTsHHVA5/qxZ9TAJ4OH5hwt2rbq/radqrjeSX3GlN566Lh4Jm
THMUbFEwGSFhGJIpPBYVbJZ0Y2V7pTJeuV+hysH+b+MlsqVeGbsbft/kjPi5Wm4jdwfHcalRCTlm
K7hVWiaBJwZQazcTTgfsd9ZWV1W1RzdEgX0QZrBQJxInTyf6CttKlWRp+yGU2iwCvnFrit9wiJkr
jV/mqCPcaZPHLG9WT636RFafk3weLz6NV3EUgthXVZ26U/UvPHz+XcmTr5EY/hMeru5fO7ZmPniv
YH8Xv0AYoa1k18WH2Mc5JSxl+pRxHmBg0eAi9o1uPNW9xr3VTd0Nl3A4D4QADAsEUTBtbGEbwogj
qYXtFIqg4UFwf9a6Nr/gyefVo2rXc797+SDOx7kHX1b9zzxVXNF03ogKGlDvONWP8dd4Dl577NXX
3k6+g53qZ8vnXLqM0Ql6xFcJfmSE2Rgfzz9oxKZxWxFma2UEOW3UCsYQKAd9ctjqKeWtE2QqEaZU
GpiM9qWdb4dmHBLpJXgU0FQ/RShb8qMVfJV6o9ptSL7jM2behovwst7v1Tl/cLrkr+hd6kfqw+rr
5HOcDWjnhvtVx21UvYstpgfVgzCKtWD/itC6eIPfgH16TORF8gQYKSuHwuOcbuwOD2VG2gB+WYpm
awNs5eyLcnDOxPxMnEklw40FmEVyWwtoQYNyCdh2NsaeI24Y5eMQc7GRZhuLbLCjCfigK6GoWvwG
4lHIhENbgj7LsoESBH80F6kILDUbM2Y/Ehozc1yopaRl/FAI1ormzNEm5ylckJqcgxeXFHJ8UXkj
m6DQ6T/2tIRqxuWG6nMKqoaPi9lH52PyNZ6N1x995bVjyW7svGDChpWz2IRpuPQefpHgQ14w7V/H
h/Sa8BWma0zklIA/EfCfBbxX6BTIehN+GBQj7s6sX2TCuUKZsAqs88H+g/E27wQkYLJfeEwgF1lw
1IIzLNgkcMIkg8luMJgeNuBWwzIDmWjAUUMt+JG4wWCVOOvTGa9mkGszcMa4bNSMZqMrEYdC2Yof
/IoLu8Cv5HJTsnF2vUmwWGz+CR4IiqUoiLgNROVowsN8C5OXqqq+BIs9Pkq5FS30SMDoH7JAIDaM
mZ2tJgi2tpqYcjJA1NpW2JYoTLQNhMU/mYtgSl1zY+kwhc3AooUXXetbUbU6un/5xb55Q6cTQBl6
uy4b2z6kE9ThzSOmCxeMaqEvHty5oaJo9+illrGxkty9kw6od/0F/wNHiOw7c7g1P4tTHwoVM28T
6P+cfiDkw4iPjxe8m/FFxvcZ9IoMbDP7Mjw+13hdKIiOCViY4gvnomayKkBtzY4Goy6NsBngSxzv
OHKULQwqDJ0CG2lYZx1Y+/xxygNAP/pBQzgaiT6yce0T9zTqnCbPZeEbq+fOfe7ArzH/q4MQumRH
RharJ1fev2Sha+iiYYmMtsmjWqY+8Ol/b1haqO1bgY88CXbWAvFLpnKFRcZXLIePbXyTbpypSbZi
hTdNsBBZA9PVR6uxcrT9E3cSnp3txxPuj9uV4+6PB6A0DDcb6HAE7DV30hdpKV8jmPUeNVNyyvrb
d3k0CK2jdMRf31WnvYof37tLMJPV2tgd41cCFZlowlPDRJzpHo8o89Y5OmM9zTJn+bNqs5qyOJO1
7g4jNjbpQr5MI6AlZz3PMHNVtLY6BeU6ExDtdSbbO7WcEWLhACQDYcxSg2jbUspXRsOUX+mS+5F6
Wj348PXVQX+WSLbwIuVxJH99sNAgZwCla9Uvkq/P3Lzsi614IZ6ErVerR+9TX//s/Bb7EfziB3i3
hgzBMpYA3VZ0aXxMrgHn6nGuzPCW3ZTLloGsU+RV8tUylXW2JWDP7fMQvgjhXPhlBKz4dECj1rkm
TEy8jHSE41OoGWBzayIGlqYnAcYy0dkBTHUlLNryJ0pofjflds/xuHzJBU9N2aLeM+bX0x8lL8sh
T3lmhSebYeW31O/U/I8ID3HiP1uPrvjTnHcvfzZFu1QOtGehG+ItEQ++3IIjFuwx4CoOhyiokOjk
s7NQRoaT7TEQxPFO13JgwgrBruLKdlFXGEBUvoz9MpZnm7Ed8IfJL1oz7JzsRCaSwhYpYMGkpiuR
cAM/PYlDGi8Jt9Lb3bOhU2u4la5OC1tmqRpU4R84TLMJ+DAcYexmQHgplU97+vxfqreUXjV5u3p7
fN9FT5CHHOWLfVXRCWSpEsqILsyEgO2b5GHgveRN/L36vTrsYyJiH/5m7rvq8guOPJqcfWyX+k98
86oX0/PYo+3lLYhXZeiQDLAs14YLBWwTrLxJFjmXCA+ZRz4zcGvNHOPCxS4cdmHRxLk4GUHMk2Z3
AEYdZbLYCcrsiUYtLCmF5aXAN+xPKh+NYhb8BCo0xkjkh5nsybs78Qe8VI0+t2GCurD8wLhpo2/Y
v548Ziz0RjyV2QUCmqT23qn2JEfgqufWN+P8K25d2o/9XxSsG3d+4aJRCwck83rgyI3mxkcscePp
bjzRjWdbcJ1lioW4kcVuR8odYHubJLSbBU2YNnnFumzwjx67gVLJbUEKkbRVsYEpBP06nUgcAXR4
hE0aRACJFBjElLGjweWwZghS0wWsXP/MpE0Gm2BSEWeSfGXrmm4if7UWzQ6PcgYFpN6zS+2/Tu2/
Vt2ALQtx9pKv9vSPuk79euaB8VczHnxgm05rO1wz48PAZU/X46ge6/UZetKCAQcA8MY8xjpej2XN
lpmvUBBMj4Vfh+tlybxOP4Fttqft69FEe7f7Y/gDc3K0vTO9fArypsPOgeUKDfRT7nTynRkvFzWZ
c+2BM2uxKXd+wyangL4vEey8s2hZ7Ub6COBxu2a5JveHaLPwHhJROG7nkK4VUHUjbRcksklU6CbB
OrCf0vdxYmBR3xIQA5Q2G9SXcJE1ub5BeO+979C74tOMB1f/Irp1IFMCI4myvTq2p+/pcMOTbad6
urSXkmJexCGnzUq3vpa8COeOfenBuRXCi7NOJu9R7fALCSgTBilr1yJgrKOixG3CVn4TjGqask7l
6McaeqSBCNAWoUJDcr0VF6kvGYT3vh33roC0rJXTxAOiHkU6VBS3SFSiAkZ6XgCoB1iBR9FOT4/7
kJboqaUzeDq0tW3GMHMMAIecnOu+R0Y277vvT69cSa6/4rEZ63Ze8WjfvezaSH2CQ/23IorsT1EI
zvFKwiEYM6xUK9VwiUB5gENnAE2oT3wG/SG0baT3SCyyC8ZNeqqnSDSLov5mRG9AtV19IJwwUCe6
NOVL7aGnEBkQ4XLSewrN3tEPTb/OU55VVrmlXvig2Vlkqg635Jw3tGnY0uL+/oG1aOJEuQj19w+s
sEI7pLXTa5LQDqe/19YBoR1JtVOrb9DOG2zXaO389O+1tSJoFwx8z1ZcoF040GarF9AeorXTKxDQ
LkrfT4v5oT108PqV2vfRAXpZHArt4nRbi6agXZK+vxZ5QLt04PcM4UM7lvo+hamhXZb+vYYnoV2u
tdNYB9oVWjuNIqBdmf5e8+fQHpaiP+UnoV010Ga+B9rDB7/v0dojBtvXa+1qrZ22BNCuQal8BUL9
wikYnWFxr3tIjiEr/AuDRSjKyTHsNhqJ9yqHpeAqYtMkPLX/mhaJQ0eS1ZaqEyBTvLb6G0kliVgA
EJZXaIDKooEuUUgjyBRkoP6qAvXPrRHFYrjJSX9jtCiRWXhYrDAQHelSJH2gZEN7cUAvKa6R0cC3
wt/mbCMfPMHhwBMf4Ovm/E1QN1gqw5c9csHGYZXrJj+4NFJhYTyU9xvwMuEkyLwzrkN4ByUctRAU
ZUlBHcmOgUS/4ndKhJPfZonaGmNNP6axAb4DxgwXsv0C5XFDXS60e8gQ2X9VrsV8lfw/8N1xJGmp
qmZ840H+eCFi0YIR7RHW4KU2GNoStMY5jVHnXiNE2nkJ9XDFWexuKAnoRQtjN78UD2/NM+sk42/I
Iu6JD8i2OZ9wWMQ7Gc8PTl5XVfmLCx5hPOOrYWCua2t7AvjYQhq59XQLRL6RuMWMLKKkGFeKcYIJ
v9Iso+ih5PHEIWabBm0dBgCcq+WFxEq5mLOSW3/FviZ1nzyx9IF1+8bi1dykKCUHZk5efXA2N21A
g8XNpIJpMHainV+dRq64Qs3RJmIONlGChoTNSnNhWVlhIRroL40f7N97Rtb6B8sH+pcOOas/aMhs
zQJUMAuAXegEugkkU34So9xMB4J+A1ZAMkGfPO2aO94zISWux76cJoxCWT7WrXBAO8V7oN/5Wr93
wNSxfiYX9PM5TAP9NK0Vd0C/0hRPo5FGo6GwiRj8jMa8HAn9QKOmheIm6D8s1X/jKdafGIc0YWN2
EwE9ChrRj8dAHhyDHV/LjA5izm0iKJKtsV842E8Z7DfmlJLqF/wf+ol9g/3ePpPulwf98n/c7z+c
K228Uv3fOX0mdd0cuG7ej+n8/2lOtX7yYL8xT8upfoH/oZ/4xWC/t19LXy8M/SI/7tc+2G9nx1fa
XPqKmtg1YS4Lcn1nzb3mQSQD9D+m8bKj34QM2pV5Ga5sFPizrgw9lcGeY9TvkJLqqftJT1ou/vdg
z7f7o8ie6mmCnuZzr/mpJnmpnjv7Df0p2eMdTey6QK/VwJ9N73+iA5J9UAd2VGkUEAPIMwpmSv+q
35j8dD///9BPk9FUv7fHpWTUwGQ+9ON+P1/3Uv2fGOz/Tk1KlwxZcN3cH66r6ajkSusozBN6Gbk0
zo1MUnJ9xnN7Gga1eUx7aj5Bk3/aTzw92O/tSz2pfiHoF/5xv59pHTSfeyu3kVfB16+K674FHC4p
BoOVRenlRqXeKpvMEADKHIJIQiKC0IRa0TJwbmaIKMbKst2G7JgzCYZNRFFkK5HAyneyza7qZMfR
aszCoqiaaD+UqHJHq5TjiQ72bFcOFbJ2SfEwtukVABRHIMxgT5YHSddbbDivfNlNMdcDj1iGX7Oy
EgcMNl699vkPjIJ6ZbJZ58A7yPOC/oO772WrYgu4ErJIiCI9jHBW3IxuNdxmvVVw032O28z7dCia
OoMBr+ekGTnFH9LMKsiivUsX7927eOneuysikfKycF4lH11yww1Lltx446V5ZbFI3vAqGKsSFKUK
fxAFUH08z95mEXQ6owtxzuddeLkLu4KZc14w/pnlsxtzPNtsFnv2fJ0ooGhXrI+dgknlikGs3NHd
qaW49vSl9yOEoBg8+7xLausvnVtIFZ2F0w+fLj8r3ThjfuOUG2Qckeb5reXeqUvzi8+L4w9zG/PG
25//sHzVlY/v2bBlhNojq83Coik1Q8uB5rx+lc4TfGBfroiPnR7C8424zjjFSGIGLOkgoLDZ4zpD
vb3AnxmEgFh/i5efqwRx0JHlczryqyDsytwn+v0OenOEOm3rTAsc2qbKIW1FryNZzULijg3d7g6l
O9F3vK+0tJQdxjha2NENn6QTWtLHfFwxMegSWYor2wzU9gTLyyLBSExDKCzJhc6rGtOwxftKxg5e
55i5ccywnOFVye2FU+rOK7/Dv3qIfxKmt9/45/38SVUuudm456mLyhpHGUSnehB7yJDY+eWjflc1
bOvSV69uB6nIUy+j+4QIIOda1BavlTKwzofLfP7isSgURgKHq7lhtvUSy3Ya5R8VHUWGjfUUrPd7
TGbJgz3xsmrOBw9D3sYgtWw0oKgGvapqWNqIdg4lwRjsU7SMnm5twRj41fL/WPCZPoOipTcCdzYt
ZSeSZrSSPVlODwuqU4vHfEU6gURIrRbQW/HKklF5eQ17tr18087x+VOWcXjaytgMDB+P3kXIgrVf
791Vnz/lMo5MXx2bod5PiisrvbxESOnw4RaqJ7WbFheBLiWWP3HJxXophtu9PvHCrHGJunW3bL6k
KLDrvhtnXDJC3eLJ5M/Pqp81dt0zJVU11X6jbWhs2PDhPiGDnQvBe2mMWwZ6ZT6ABAMFVWIZZl3n
qhGNvb33xqNHb9z7NkU39vTceNPbb8Pol6hP808KfmRDbhSPB906LIrYDl6CLveam4jVdYHOYyb2
FTxPHQuN1LqCpkcYXiHU7Ovt+uRIsv2j1I4yL4g8iWhJHSFtcVSgFZgtwfNPmrNUwWBX7/5QxZX9
eNXv3s4XrKWqOfOWZSNvInjhjtt+iyvx5j/d6z/z+c5kDsafkSWcelq9Kx3tiB8K+RDrQLQDtqOC
I/CXQ/nkXdoiSJo9yQT5mRePhvy+DG9kSF7A7cuDh2BAVqE4EMzzZ4S8Q/8cej9EQnlDh4byqM5B
2eZjbdfxLi3La0M00a4A2O0CnUiF+ewbLUW861C70tnb4YaAuvNfW6ZQGUu7sIts0TscATuhRbyg
Ki19Dzz495MPPdBXdPTGX735xo17e9Rvx5H6a+dljG0oL3UL3EMQcRtb6lRu5YN///uDD/R9+TCb
nhvffHNbKbmYtC0LDRmZ4xg59pLRN0y7WWL5RhCDCZMEk8Z3DDXEc4ZKWUPCwVL3EHgYrMC0EPMW
B/KK4eEwA6eM0eNdSpdF4wfMOmOw+6xPjnYqIC3D2KZQNrJor/Ss9z9N3Pkh3U2YpA5XX1CfV4fh
P+LReBTumKYuVT+Cx2X4euzDmfhX6nXRvPkjxy+fUTNMgEBl3KUdO27efN03C+qoBL+rgt+NYr9T
R6jPat0Hfr4Hr5BLqxZPXuzzjBpS4r5y+4nXN241ME9SQ7fwLCOAxf/T4pEMV5bfJOlkJyAgzioa
5XDQHwlluINhqyRQkyjzfpMzzE6CVh+vru60uKqU3kPVnSC/7Z3uw8fbOz1Hq9nb3o5DivY83D6w
Ax2MiBExCPofG1geDIgQpQki1SbYjCNAiFEi+4V9D/F3mEWjagh4iqwxW2ay11CVUUJFyzGq44Rx
o/QCuvD9vXc9+9prz+LhGw/4RhWPypyaXa0KxHWR+v35j9YMJ4KKMMSkjfQGmGcjCsaNej3iRBNC
+ptF7uyllZoOd1cqHzedvpE6LUdvGLP/ot35lsya7RNXTPaK9oLJ+YExvlju1JKV7QBcCQ4KC+i7
4g5NdoJxC7pFMNxSbN1tJVa3znELNSMABNWYbWduOO7+kSPmz7Ym706rrZ4yZeTIqeqyafHqC6bU
1E4Vvqu9sGVkTUtLTfovy5FFY2mA+w3Yl+Z40GbmJD2lBmw1UWLU8YTajUaD3iRZRCuHCaUEQGJn
KVuP7intKT0Kz45SjeGj7V3uztIeC0sOhBd4z1alaMQWLA9UBsoDNheNOdiyXkC9t3l1/YcY16gv
4ZlN8Fbtr8Ej8Vb1OR8OrTm9Fsd9au/a0+wESU//h8JokKJ8VIZ+G5+zMIovKcJDhuCSkrJgMDu3
qCi3aEjueaF8eyiUX5CR3+hl2U5+f8hSd4cXe5Gn0YEMEkYVofJYSYE/I1igCMsKXi8gBUKBEMqP
FuEilgmVn0rl8obAH1cr2mJoTFuFZomnoIK9nQo7cdaRPlbzidKb6GPLuwC+2N4bmNatQ7XDGlq+
Y3oLQtvvMeOzUr5+OC80sOmmLW1nYMBp2lmIygphdGFkbeM886WnZI9Z9q2qmCc3HFpulHwmx5lN
srd6RKU1TwmUq70z35h+uJJI1rpZGSXe+SNYhhhv4PHvRcNghphRb2QJYmtNwXBtsCUUf/EEsX9C
8r6vH3szLtnTO+kX7Pi5hsMn8QuEGYM4/J9guZW4XOHDBGWlYDhOgE3LRdu5bnqJdponhKrj7gjK
DPgdQq4pnJlr8AXdFmgEiCGMlKOlnm6AL92l7o5SpaOU7W30eo6zT9p73Z3sQFwhzolibZElmFNu
KRuBnX5cWTECg0eyBEVXKBK0xLjutu/jDRfPLXD4CpNtbcnR9XPmToh/vxz/8uSdd6lv3/vFV2fa
2m66ZZTNi9vwmTa8/Kab2tpUCZ/65/ffnlE1K1SHnqMcxzG/iwriVjOSWcq3UZFFHQGsbYRI5mjv
0dKuri5GZOnx0t7SLk1uHSC15dpRbxv8pUh9b416AueswQEuGScvkG2qugJL6rfJl9az+0xC15N6
rgiJcKeKuEMUOU7SCYToDDzLiReRrINQ5EQvKImnp7S0p70LNKazNAo6A+MTLWVmIojLscOILXA/
Ui+oMj6j7sArVQ6fwUPxjHqc2P6PU+rba+Bus+FuM9N3K487KEKSjuMw1hk4XkSUYO1uR7W79ZaW
9mp3O8Juo3Sxe7IThOVFuDyGKbvZTLjHCnWngE9jlcffk2vU+7af+sd29e7ki2vS+yQ3gA5G0JXx
cRMjuM6Pi/242Y8jyB8MotosnGW2uc36qICFYuhvlCXOVOdx2i3FEO6Y8/IlJ+c1WmS7Fx7mSBbR
ck+r04e7ejvYM1WPIBaLHUoegtfDieOJTuV4p3I4cdY2SsqUUgdgX0E7mA+gLBgJFDPcW57eU0nv
D91Qs2VS++sZh6j4396/mlRE5K8CmDO8FziZ2mCxlwRqc2udPgEt+e9daj85UNZ0QH2n8diTm54k
qT2W6b8f2GO5VN1F7qFdyIKGxG02C1EEWaforEYOmwnGkhUpR6rZmYHuLhhjfLS39ERpL8h4IFjO
nLAFBNliB69siZF7NtetmpWxefO21vFXZ/ry1EX8yGTxdoVOhDndAGL0OcQWZrDDpXHXqyZsNpkk
BzYqNsluRQa7jedNYHsPVYMd6i7tAAfQy27ECgAwkGwByx8A028B2x/AMZslYCGfjyxR20pGjizB
89U/3PSs+hC9KGlnbbKppIY8/90ssjjJMokuhHuz05AGNDaeSWVZFJFJ4jgIiDkJmKUUCUaiZ/5O
qQYJUg6zSYnFAIppqt0Rc2sJmJ1Mwto7WFp3OQhYwBHADhwg1yYP41+oV5Gh6kyg4zb84FLyGLm6
fX3y92uS+9g+L9z9DNxdj/LiCsIcr5MMEo9lAxVFA7tjtXICFJTB5d4NJ9y9DDRrJRnYA8T3zK+2
3r11N+nh7/puVuq5fuCqtB2uGv5fr3riX16TkjNq6gnX7H9fXYZ7gVIjyombjEaiE0WdCRlMOvD/
CmC143C5Iykl067HchLE8pgNzBvufcabVdbzLF7+Ov/APyuH+HPxauFPbSmk1Eh28CpSwN+3xSsM
BhkMliTLa+yi3W4XjUZkNl/Ojv7DU8Q2m9sjOM02OzUQ2WCxSAYnhyU7OC5trcBaxcDyUe2IuSd6
+LC7c6tpaCojH2Zp8D2bQEvMrZEZYb5IDGrACRSIQWOIt8gOVcmvt2S7r4kWl+mww1aaf8oZ4bJ8
uXRGtbUiVNPy4JHj5y849kDRhMkTFhKNjzryiODRcrXCcZtyDfLZr5EyrQ1/NGCDy72Pc6TOsuF2
5agbgve+1PGWsysyiGdVZCCPXDj92p3TJs+Ysm1ry4z3WqY43bm5GR7u6X1Lli9ffNv9s2bMmP31
unWlhSUlRTDfI/r76WcwN340Kp4Z8Pj9HuojokFQZFnJJoLPYNDx9iwZ61gVjVIWOGyIxtpBgDXL
qPT2ghT0wsQpR0qKeWb4eRpjprg8OKBUpU4HKFkhdgToZ+qGg8k+fFBdj5VWTaEmlIwaWdKKzRj/
jf4Bn6lXnVf1jSyhb7Avz0RLRvaxVdk0miFOtBv9fM9L0OT+LvqI4AL9jEAsMURnxcF5xdY4IMJs
U7ERG91t2cL6/QjXoiZEFLYQFV6k6LxZVKaotudEZ20fZpnS7MBCd9+JRAfDL9rJuhRYZGPvtFEh
mM1ODWorCemzYqmAgo7YMnf61XWjprVe0+bfenvyb625O37liDW3FnrZYSN+5vkLlzQ1VZQtPnNR
8usifMva9uh110eLs0Sjwz5y1Ky/1QybwOR8C7ycgjjWgHxoRDwn21nsJE6TGPXWeonXyI7SN4tE
FFmc4PTSjYz25IlDtSnXoBWpUVKFas4+TW/TkgMGSbY5yZOb2YEnVp1mZPL6dNGa+cNZ0Rp+Hjvn
dH7jkiXfTerDxWeVrFF3PMgs/Ro8iVaSLxGPMuN6jEQq8GDhiYBSWg3KrdXnAc1mmKByQ/IZ8gKe
hHM3wG+V/i+5/UI9EtDwuAcTnuMIT6mAJCrylIMHYflirNBPjRa0ukFVsQJokumrJwptzS2Dgusw
tz/53hbV2YOr8QL+5e9mV+Jp+Cb1t9zzcB+PupkbAZF2AZoYD7vtoWB2KGu8QRYNPMKSgb8gJ1Qo
Z68Qg0ErnZpP3eu8LVYUZSfYtYVEiBu6jyS7D3ezyjFV2hILuFktOWlgWUlbZzk7mYqNLk0tLbHt
P25E0/jw9fKnJfcpmeHV6x66u5XqefP68LZM0/LnnZtyMH7pXqz/Fa+qRcrGwNQ39m37/dbHLl3h
CC6tmu/bXDv6Nlz4xqqbT224hMnEQ3gMnU2/R+yswrh4dpbRb3YKLjHbZ7W6XFleryPLZBQJSIVJ
lnlTNljZwzEwXNFYVDmsdB9Kv+/QqkEAetOwmx1IDwF+KwOLwpeD8z23TWdPLq1Qt26eHCvHazef
/Z7mtth33/5Gi2PX7cl7Bt+y060Q0ktCAEmaNzHrEEdlPTZIRI9lilG0pwNAHHOFPZ6jAO7cKReI
Y06bVYzoMRWTYZx/rbxnB9728Ufr+PuHJ2uTk4mJu/t7pt2XomOcn+vV4r26uN9htDgNFh3mZaRv
411tFrfs1DksyICNLj1vQZ5odXX10eqeaoW9aGVcjvcxHMAi5lTmzOBWvkt/1nvK+TsKZ1cuqVxd
NLnjk2OHCudULq1cM/T8Qx/jccsmP5J4uOXFxn2XqZepl6Rb590GLTZLbUBhKE3h6HiWXTHYLNY2
A5I4kRfakMcm2iVk4RXOamBnIn5KYG81k7MUlQMBsY2yTAP+rPdcqGx5yYyXP/mkIzJjuPp4+WUl
F7308aededOHk97JT055aBm+Ce+5rOGOiw+c02LrLev7PxC68DSg0A1xSnkczIlgWG/1rPeHHLoc
durSpNjqczaaaSY7d5nJynPEYn2F2qyBUeweqNLx0zjadU5QLXT9cvqsX26eM2NL8onUu4vidcnn
tszQjtRefXvqNOWiyelTleUtTYu1D/7jPcH/de/u5+2faDnUh8VKYQQKQwy9Ll4/PNgQJEKWMyuc
RVm0PC4SLvbGwQR7s3+Il4vGZZezM0+1gOmFsJcFyWGSPzGXljRk6s4699QHj7POPp1gJ3LcqSBZ
+7CjQ8tP1VI1/3U8LAQ5OnDKjJ6TBCxWFkauaJxvWgrxsEn2rS6fJ0/oWGaSfGb7mTeWrRvI1b75
yhln5wL/m2g4hlkO91yWwz0CQsbBlGBtPLVxAu/8GErXh6FrtPow1icR2HCyOVUcplPpTJWGoWuK
knMHSsNo/fnef9ef7y367sxAf4JqyX4aENYgHSD+EXGXrDejWtyECRZ4xWxHGD5QeEErANOdKgLD
/mroqQtwcFdvgp1T1tQdhpb5PvrDu8DLjkRD5IxhdOFfn8tqm1D1kTI7Tg+sqMIZH+1dOEntOage
WlqD5d/9evcotfsZlg8N1Mg/UGMuNsVNxGSTEc/pkAPpZJvZlC5g9BNqers2KCmC0mXkWGmKysjg
Oyp7Fp03+vnM1oZIizKnrvhl1/jSTL5yvPrNc9cuHY0N7+6ZMFr905tXrRiDda8/wMZ+Eh2NT2nU
ANIeHBYZhuOcijjpWw6yjU+97JjdED5jqBtyDrOs0hpcsWvginwxF+cIMKZHujRT515xkHTcBQSX
vMQIFpSziaRoMnqLM3Fvsw08lIli4PWRonAXy4Q6ZdmX5dlto+JuI9lDdzEg0wfKoUGZ6u4OJVmd
qi/ETq+fZVwsZ1sdzlR05q4Scs3CuvrFCyeOXZD+W1pGG7/6SrVVT55cU9vUTB6ANyNrmyIFMIdZ
aDTN5oYDftGh6riHSjoAhY8B84Ko0+llkaM6IglAsGaie91dHgVeUqFCNUxg2woPm0eGQ4I6iCH1
2Eaz1bvr1btxov71U//4BxmpLUecgdeV6g51x0AekrZHWp3ax0Z3pfexlbwmrGSyXdKQXxJ/2Pf9
D38Bcdcb/Yu424QD/6Y2Us85tZGw1cbd9v0XTy7A9zzTz4ojXfw4OakVRyJwt0+58dyLWpw9NR4y
Q1RCiYlXjIJNZxD1bB9PbzYYZWzVEZtAwcUJEHV395R6OkrZmmcp8/Baiy3Q//jjTmiyebW4xEhA
jFRaIpWuQCWFYJwb//jjl7+kPvni5ewvbnjxPfW/uYlPqKuh9dLlT+Dt7G+yHQ9V32C2BL1DZnDv
gXyGAG9gDQoYZB1gPD3PZk8rUDXoWs9x+ZTMeKbgorLFFSsKG5/rxfVnu/ZzrhyJK5wkah7cKEqg
5ynffaJDOTFw6Z+4azIjtiTa8kxv73OhKZXkvXP9MMxtusIl2NA30U/a6R3y9RDr+tDOuN4pfWPA
Vqcrg/OxPfI6o1LvU+wOj9mLvYqs0/bJiSAZuMGNchM2jVWULD/yY07wuDaRDNlgt26SnBnwUHzE
pKS2zFNlgzp7OlOvZ+2du6rcx7VCTtor2z13Me80LL13rr0G2e55WNtBj6S30dekt9FlEK/y37Zk
yHc+qvdftL8S51jO3VO/5NIPbOp+tVtyfo9/w5k/7E5trcO4k3ZSQ7+C6MfyJIATI92oS5Ua6/tR
xQ5SkwYTo8bQ8sbFi5sns+IMWq1IsEZk2f+FBSPSaLXjjc0rweSCBQObr75CZbJfs/nDf77N127y
f2Ly8ex69VvN5Mvv7pmo0bI6ZU1FVNP/so5oVSStKKBVkaxHU9CaeNymVYn0Ws3KUxZssXhbhl8z
Yft519SOwqPQNTnbw9fERSx6L3Rq9SOzzFZANZax+m0Tc687v2BFDSvEBmGPCs+z60gyt3U8kVST
rJ4kq8M3UEhS+5rNyLmVIn9aPBKftVRxzvt/U2My9vRAicmW1mNnZt5Bm86pLEl2Tmlxe0K5HteZ
a6dMcXlygx63GD3rN59PYWUp4Xt84Fn1b+nSk6tp9KcVJ7//e7ocJTmZLj2ZPH3WT9RH0l+jn5+D
9nPzsH5ujtz/Sb7Wz80XI+9p/Yak8oXUM0j+H/O64D9qEF8f7Pl2v9D/9b/M1vpQo3VIOltL6v/q
32drDWaXDUnnjJ0ZyC77Uc7Yf5Sv9b/lYaH/6yrD/0Fm2H+YmfVzM67+twyu/4/Prn8nNHKC2IsU
sKtmDhl1Fm6PUUK6vVi6QTMeSq+WZ3viCMsNFtPJJQOp8pzQcGfFgsIF4y9uqNldv3zYVY2i8lKD
u9JTEch/yT06fF74vHztbICwgDOIDyALKot7hnG4AmOLGT4XJSuEznsM5j1EEgmKpkzU8b7us605
O+wDHiJdqw+QIpgTzjDu/hHPVtU47vONnXjhjAPBMrfY8lXDuHHzxp/XPIllEMMd14uRwXiE7iVn
xSMAPbn1/jMNgFJeZOd7NsMotEshoC8nrlh+hWy6XwFlkkVn3MO2tfuOs1heKxmbzrTSFogq03Fa
Jddeu3frPXf+cm/N5urWxasuX9xaLapvrbrkklVvRWbX1NXVzEYYvyYsoDFxF/gsls/dLggGo263
FiRphY9+nAyzZPzEJQvPm7CEbVpfOGrU5Clsd3yL0EjXSjXaWkRu3J7OUNPtM9/m2OeHOA8wA4om
2piRj/7bPDW6ds+ChTf+atGCPfeVBIKxWDBQIo5beP31Cxfu3r3QX1mRHSivAJqfU2fTfPBJBpQR
1xl2IMkIETL4RE9n+rDJid4+lir/wwGKcppvGlk5zxVyxFz1oTXRNeeXuoLWfMsVjQtAO+fCOD+j
5Q5kQJzltjo8HpODE/V6JDoy9R4rEkVoW1G0utfTUa2AMPSycT/epVXYYdkv7O+Pswr4c1rcM2P2
X3DzYI5BUh2zfwprjtzesGJyBks5CIUGUw7Gn9MCjv8IHJcAxybGsX4Hks2yHp3DcddAsl0qI74S
wnVa4i42DvV5a8Oj5E9xeKjaY48YhpqthZVzxl67oLFV07MG0LN3QM+y4yYj4iQLkvYqA/LV25lk
e1ppLRu4eKW2o1cLaK/6+rrLyzdP2tQQXV85o2TJnaLLVZfbGDovr/wZS7m3IqO8gVndDPARD4Ja
V6CmFcx+fJvOTraadXIqO/l/76Gd3NDsbIVmgz7YmsrgDUB0gobk+n6wVT+vn3YyQ3wH+tWk+mmr
/HqsgOdAHous+0/6gQT9cCpCZGcDMOL4HQKhoiBIOk5g4s/MvJYVCaHmPzoGKtmmDktY1c8tONP6
jl04mfSST74fceZD6oO7+/s/5ruEDOAl0sju/k3q7sSeATbf4xXsaSp/bj8typOsg1HeDszOgGr8
+ICfbI8W4P0HPdOn7GMwdwZtpTRs3FCMZsPHHmq36DldI6CDRj7kNq/S2+spO/LEp4/YpwICrWzY
6U+S7R+5UgemWTUAxGsVeAKCyGGtLpNWd4qPqbeqx7hkl0+fSZ4kHJmhzn7JpCcc1xJZRD3qp+rD
9AHyOvYRe6y+OZl/Jy6a9QdjcOCcUEzb4+lLrSKRWfQd2gizZXtKWxXS1gPONsP0naIkKmFRPev/
AL6c3qdlCpbFLZLAEcTJssGo17GztyIEaO4OT4+7k0XunanI3d3j6U1/wC6Yqu/MijvT+95588gf
evZ1PbbzcBe9+fn3N3c+c1/Hs3/8C6uILeNXyAzBA2MZilt0MjUgslWkok5GBi91w6B1HO3txNHO
5NGOVCU6GKRUYmUkt5LMMOvUm4hA+dymZlzyGn9S/fbMh4f/sP5O3nFqxcVarR+4/jFBQpmoOO7W
i5b1XKrCrtHnuMrrFddxm4wGuE1XurjuObV17anM1lSuTMU5tXWd5Nieyh3LGpcavXpnUs3/Rf6I
otzyWE1k1c4Dx7jX9r5Uf70p97zchuZnJ6+aWZuTmYG3Rn6rRZ74AAsmURiNjed4CM+WO2238Jnr
UZ7exOpKUdc+r1eXdVXQq2zSedLng6LpbK50Pd3jWj1da1WqMp/jX5XTTRfT1fA/+fSmBTN3b8zP
lD3zhpeNDoTqFGv2prbJLYFND/32sjburS/mcyN3bBhbKy/JbfKVR0JeH7nNMHNKJl5aOPnC1Mm2
ReI3wgHQuP8GiapEz+DbWY4l5vhsNPD9yZ9+j77jLlKrtHMDqe/ZN92IWb7/54fvYWT8+GV6FVkD
Jt4R17EDRphHt+FUcNqVKCm2RXgxVO6kFzvOvIZfPkCeoGw8M8gMTqLKD6ud+85e7RT5CCd5z4yy
U+UAeZL1/7B/Ej9OmAH9s+IyRTwmHMtUOfvUZqroNkTYmB93xr6Gviso/6weK7zCKt/hP9Ib+O+A
ah9qiucrFhFRh11o97ptspjtK/YRwYd9eu8exeHbx+kUeIg2r+g+q4hwB6h/e9TdlUgcP3Lo0KGk
Vka4u+uc+sERa3lZuDwWjgRorDSkbYTTG7L0ylKiPsKrreQF8gYn4VuyuAvVJmBgRDktmZUzsvW8
iXMEXPKdswRv3JUMkfOu2z3hJ2sfBMb5AN0CEsj2x7PjirIT+ew7pUzrVIPXvYnzDJ6CPXdnXPlp
uEm3rG1/+tV1KzavfumZFb9Qn1+2zB+IFgUC9LsvHnr88Xv+jvXb1l95nTrvD89PHF4zaiTS5vgA
lQUOZaF4HLTQuBPMqt2qE7wWq99i3pyZybmvtXt1+n2MDq08cXsf+78CJFl10Y4uJvxdbKOkY4Cy
tMynChFbbYHSdBFiJ5W3r//j8lkWwTRvyvP7m6bObKzFT9dWTFIfy5w0a8tBGjo4d6pjbu7E0oun
BSfjbHyNrN6csDykjc8zdIoQRDaUwzCy15wp6/WS/RaUm7lDCrrrLRZOL2ev5FhZyI5UzRRtsFgG
TGqhanDM8EBtYSef0smB2sJ0yqLlj/55xVJcg3dfMmVRqGnYxkfUY1mZeYUhszdjaO5wOuP+NVeu
W9mJ/fjGhobZlw9zPdEVC2Rl5uaMiBQyVF2On6bTQBKNKBy3GkVk0JNbqAnQ27UGL2GGs6M2WdWZ
qibc25UynFr1WnakELzwtFfuVD+2l+UEpJXzKm3kS/4u9dbkL4yPfHP/FpHX4/VsN8uPn6DzQFLc
WvXgC+Ox3Ft4M7F6du5COM5WwB+N4oJbjP6d1qEKjazYmLMr59EcmpOjy9zo9A5ZsVyHmQFLpCzY
QN3gbi29vo2l13f3nWO/tNWK8oFEAP4HjEzTb9lpggdaE7N//ehFF8y5b9kV//X41+pTZeFIaSw8
IyPsyQjFa7kHXljINSy/fFJT0/i1a8ZyLW9ct+Cyrn8EK4flRuPqV54hRd5GbY7vorOBMwvyotK4
xyNa/9+xsLIyiPdxC/UxSBaxs7OIdvFLsYIS4VHouTjAyEaNYdBZwPABFsjR0aCDgJkT8mMm/vuW
bDkpr7y06uDme/82WWhFzVBhiVtxdtVc5ZqunNJN2ypqnv17p26cUMhlAc6R/98wt7LYg3OkvAM/
Uo4EZkhW0PG6lGVIJsPXqzZsAGXI7ipghkzdAc2Q4DV1wPIzAFvty8AMtNn+6l3ia18W1X8//zw6
u6N6EasYrPYFmn8d6DOstS8jpPZlpXLty8w07aDHJD4VH1WvgH2BpdHg2rdDbS1k3PcNMxPQPYRr
X0Zg7ctKr9qXmQtY+9r21rjZcWXBal/G2TyxIbKQ2hd85uo/5skshuCax9VBUZYbte5BrXEY2FnR
ahx95LqmFnKvEQX1DWMGsL6J8/NJQK5v/Lr7vUBlPDCMuVis8ZfxDKAynpW2ZTxjzI6kMBFgGW+Y
BCrjFRnbgWV8jAC4jP//hTmEJYpBBFjGWznIQMt40ZkiKIU8I7CUB6cB0AkJErBMaIO3pBeHFFz4
SvrQ8H/XreAlPePEZRX1lfCSvtRSPDzqnIm9rIoSUA24pP//iTkCGPNYSnoGJlAmJbGkZ775b/bf
Op41P5a1srHBSnpgHzIFmC8gJX2ggy5SSb8eVNLDi3lYQc8EKeYZdYoQ2QRUxEvqg3MKsJinYSnP
dB9HKW+uCi7ldfUgpfz/m8wJQF8JActVYCkvxS4MKuUl+riF+xikQKW8WBc/IysLK7GlvDjuYj6v
AFrOM01beXblPHA5v3lrZXVh6b/3aibAgt4cGIoi/6+yarOJMGiDTj9T42MUE2LgY+Fml5FnU+FR
ZGVV0WbQlVPmDFbRkdnPd56PiW+2PDe3Ayevh+J+8LGBs1VYGFgMWJi4WbhZJCqADWRPTWYBLwnw
WaTgI89A2wRs/sbaaINJRoErb+8CMxOojWJ5REjcErpsDZQ6FdkVQQkUSKFs1IHs3AMtY4YsgmDV
tgi9nsmYzP2vlImFsZHv34HILUlR3BJ8PAXrb+8+lHqXb5cA2wreZZdBp++GMHcLLprBIyug2twM
OYA3r/h0s53CDB7wIbwAK5wHTQAAAHjajdBDkBAAAEDRV222bdu2bdvGZtu2bdu2bdt2nZqmpunY
oXf65y+oP37+MNg/BAn/N4IJEFwIIYUSWhhhhRNeBBFFElkUUUUTXQwxxRJbHHHFE18CCSWSWBJJ
JZNcCimlkloaaaWTXgYZZZJZFlllk10OOeWSWx555ZNfAQUVUlgRRRVTXAkllVJaGWWVU14FFVVS
WRVVVVNdDTXVUlsdddVTXwMNNdJYE00101wLLbXSWhtttdNeB4E66qSzLrrqprseeuqltz766qe/
AQYa9PvNEEMNM9wII40y2hhjjTPeBBNNMtkUU00z3QwzzTLbHHPNM98CCy2y2BJLLbPcCiutstoa
a62z3gYbbbLZFltts90OO+2y2x577bPfAQcdctgRRx1z3AknnXLaGWedc94FF11y2RVXXXPdDTfd
ctsdd91z3wMPPfLYE08989wLL73y2htvvfPeBx998tkXX33z3X8LEjSgeLfOgb8AkNF62Xja3VgL
WBNXFp48haSKNEBby+oFigKGOMNTQJSQDDA2JJiESK1akzBAbJKBZAApPkisKFoVFaHWF4L1Ud+W
+upWUatWRAq1VnSttaVWbatVa9Uq6N4JRZDW3f32+7Zfv81kvsw995xz/3vuf+65EwRBWK6L+UW8
POGvF+L6eLmjTi8e3z2kNKX0bl9WH3a1U3QHdYpusVksrB/6DN+ts4fN4yHoJL5gKJ/FZTmj2Sxu
tRpNQ8U9JL41A0t8kRGuS4UYEDtCIWaERGh4j2QuFDzpj9u/0C7/afaWRc9fq6Iq0kfdCKx2eoxC
nex6eAezvURldS1zr6z/+KPIY8vnz2kY1KDRLUL7PsbK4kJIjlXYIPRvfE46VyDy0ZE2k8aUbQVa
W76dBkqSLqRsr2PPod6MglDUr0tBDAirUYKJ0ZDOjoBuS5OFBBpab8k1WbOBhrQVmIwkUFMUjUWg
YZ3aQ5UqoCCkiYSC0L4CpDIZnqbF5WIQZAyOiQZPjoEOfK5vTDQaiYWh0Sj8jIPNGCwsHPut+def
gGN1z5izeAjHMR/GvYztcCCnJOBGzlRxqMThu4O/c71wt2ffsec0rfltx8NDdn5+x/3ViJ+vlj90
f6b5Hy+O23vy8p05O1bWzw78YVpGf/vkKSfyvDuOZtwJ3pQxsZLbEWrwzHD4NuRVnPbPGHa60Yv3
ZtS+ivfqUkdfvR7nv0W3bLrfCnNp/ejkqsl166JOt7uHnqqLWc7mQFL3ogQH4or1XDGLN/KzqyUP
ik9vvL25qJ3XvjQ+L2Dj0KCv3hKRZQ/Fs1kLx71jaPBcX3J7936v3S26Za+7GfCjNe+ei5zB879g
C+WW8tZPdfdZ4iW7cdcn9Ys+C5b3N2c8FERWNZSt/oqbuyJkmn7BwSvCvHc2HMsyJMYvrfAPe9u/
bO79TLeXfvnsPuTvSXhHsb2RjzzfOSe75vcgKePNsoakOeWB170m/f+ReDM2BA3sdDzwX8Pomqnw
qTP9ryB2xUfwu/h4oh5MRx+RG2GlSZuVpFHHyt9Reh5chdkMpTfpr9VtmV+eXH6+znOi6bxghqGc
j51sejRnUdIZIrbi6uf8USu31EwZ9+Ov7UZctUdoRX+qidoU6v7VTWrIpr5jJvEiVTOatKrm3eLE
VmHz/D0TH+0qaW6rrJvhTyT2N596eztLV3v4U8nq2NszNmSsO+NPXnpr05QVfz+bnJjzaui0jg/Y
LM4fENoy6cGy19aa3j9VnDvUEDBQDsZsC/A+RrN/JW4NGTB+c2lepNvQOwsvXPyg8sq89S+32T9J
cV+5/dy8c96LGziX3AN1/MvKtcnvtoxN+ny47he/k4cHx4UGhjUt/+ZAQvL3rZbkgkv1aK1HSdOM
1rjp1b8uDcGGet//xOval9uvpktzk0LF01Gn+zp4e1Rz2Cw2u39RVqV15vbmXaxnrSvr68i8nojZ
kND6P4j601coHMU6FzzkMSNklMVC2owmvRloqCy6UG8jQVq+wWyy55A2O5BJXZQcjkZgUSj6mJJM
Myw8MiYyZhzqZE34n4PAklB5p1F8YWGhpAAa2qGhxEhZhtnIXMpuoilb0TBZmoYZg7LlSoChCKjJ
LImY4bVEoZUzXI7CRqIjOv1Eyk3ZJhoOSMiBzKy320E4CAWpJqONskMI3Th0erMpU0+bKCsoCMOE
qDtjzxex0zWYCPVkGm4iwVi9PQemHk1Zsf5ov85Q9FGTmRbKmokNRH0ZCcfLu9u9DGKkbC63Xf3C
p/TDAIPeWeRk9UWg3I3tZLGQuvLPBm/I/O4H78OPLMVSleBXKiSvSfK8Zl1Y1MXPc76O7CCeba1s
Jz/VeIH93ONv/HI811LxY+P720LQd8Iypu7a+Hpg9rL6bwq/5136qa3y7hbhC+u2jngz95t71HjV
NMpDjc/1PkOejwO8tvg15qrYfsJA0TW/E2BBzBuGmbzjAQPa1Ss3r1RUnhmhzIh3Fl93j9R9kFOf
iNfEYbUPWpc+SD8m3lB7OFjVdHvJDc6g4pvesRvvvZc2k2cx3JgnmjP8bJtvP/tBfsK+oMM/nFyc
d2x/1s41Wv8vhNlT780uKtucJXhvzP0Om1976YSjt0f3+zFDH5DavCM286Jo1cRPZlkUPtvi+8BE
rnXyvkSdvLOu1fmbiMtGEVTIPHpwuRw2rxp1zGFaLK6jBJ1e0r+48tsWWUfO2z8Pb7TG3RI61xj/
hERy8th18FSI+jFIuCzWI+5zqBfKnPy6T3Y+HHafEgSuNlQRcPkoBM9PQJ3cqB46AsbUyQ2A4kHV
wSVDcmg61x47bNi/SYw1Ts4eh5NTp80x2YGRtNGmLJNRT5PA5EoYhmyknckaG5lF2kirkRQDvTUT
mGg7yLdDNTuw0zaTkTYXCez5hsmkkQY0JQZ0Dgm6g/DYL5MvaTa9kWYKIixNNGkhrTQIgkiCBRCm
nVHAJCgcpEBvMusNZgbJk966JwD0dKzgaRONY1DjoRboBuoBOEKojczLJ+20PeFJPcomgKpdik+u
qRiERcaEw2XUwwopLSChIJXKt9J6iEpnIgvFcAlBTAQaES5I10ihXm6RzZSdQzNFEouJierlDgCp
2QzUjIYdbkR2WJPJTAmQ4WqtlFAKxkrVaqlSS+AaICc0MoWUSMXlQKqU96jDCiKVgGVYImC0lYQy
ORZoU3CQrsGBKgk+EhqXOyKJkEm1OIBNjVZNyLSKV4AmPXE0LtMCrYoxEehwNaEhkpU99AmVEqSp
pTItIcOhHXSQiiu1EDYzBKHRpMPxgDRdm6JSQyyCLpCarhkAIjVNQfyGGc9IU+MaDeieFQyCUqZI
lzNeuqUCiDsVV8tSYLNrlio1SCK0SsY8CT5LQZoUYpSlK6RqkJauTlNpcLFrkLGEQgGUKq0gEXcF
SYG7DGQqpQYfkw7BE1KFGJooCS2h+82mC6wKzkoN5NJUaTKukQANjguYeTL1gvEhx6GWQgMjLaNg
7lvhklFZvbmYbbLDbYHMBFbKytAqy0RmajoTQUrDzDDkwwQSkFOgvYvcBXpzPgnsOXrIAytFAwMJ
jBTsynQ50duB3mjMt3VmYBZls7hyRlDQWW6gBmQqg4CQSgS1USUR/0mad8nNVDYlyTZloY5tzE4C
uI71aAlawhdOKk1hld7DWX1YLCgI4rvBXYXHgzuoj+9T/cMgoYbHmmxUh3r79NoPUXhYYQ2I7xIO
sbsia+quxI/3FGA26Q0SYKZhLjx5uux8S0Z9eux0L3LdUD7c7eC317mHOaktVdQUpZ+jx88LPLQO
3DDveb84qXjV6jf25fFTvJ8lGycE3xsTV5a347bX8CnnFm4VlkSVT0ipOoIMF2gOJEQ/misaYkGS
I+6mKCS2W0dPTe+QU/4LWxavbqu4dvkRcvzQdZvv2RUc666DxuKwKfK4VbPmPnizNDpIcnnd8OiR
+9p/dgZgcFuGe3AYnDqa/yfUjz84DD7xkl/tqEdfeBwldw7Ws7Bw4RmjuyXEepUddFC3IRd7ltvf
H8ncUBuwM3Zta3DiMXFxEprZQ/0ZTIdqq0NKghANkoNQSCFiRPSIDclEAJIM2zSUmqAMIEmwZUXo
NYNLXmL49Ru9LF3HHBe/6KJcKtumz80p6n3M4TpZSNmFlvttJ45cvXny7P59GZeajpyfV5M8ouaA
bkXkhYam0s2NGUvwxKTt42uJSqLqtVucG4FrF/NFbpisn46T1PgxmLp77fElCZ59KPm2nzrCd50s
MDw8snJMY3L8HLeE8JlpwZdvtPo5CmfI1rw6edKJD1suFJ6Lyj5UX7zqdPm087tq3rgY03G3arIo
wUYP0M96/d0tmy9Zv4t4Yf2V87lDVdRdz5dfTZyHF3Y8lGgmR791wjnPZ0fVCwt/qIqt3LT3Frnx
yIK4755vvsw+NtO8jKu4k+KIneXX0np1r9+Hc3884fVy5Ozs9OqJF+ur6zeeF9Z6rkhpigmJSsaC
lu/jH26knImFhnFnctc4Wc3wpNfYvT58zMn6CIr2MsRz7PnLv9M+7dX8SfK+gj7fk7vC7j/KWJC6
j3t4mIfrdSQaiwhDI6LDwsb9jrpZAwMHDX23fZvfoINb4y3fXu5NKkfJrCsHhUsEVepRkopDAZyt
yDXSY/aa13yNqvithxIijV+fjUjA0+KOe/AKW857D94YpJy2Ddsfcmxk8272Zb17qeMCnll9JmZu
7n75lB1912UOLy5Ovjn75oCkFG5lke7m94MPbMWvLzm79UrOgPs7fXwWVbcdOFJ2f89NsLthQVrr
2Dw53Of+CXd2rAQ=) format('woff'), url('ShowcardGothic-Reg.ttf')  format('truetype'), url('ShowcardGothic-Reg.svg#ShowcardGothic-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}


