<template>
    <div>
        <section class="main-banner">
        <div class="container">
            <h1>Welcome To The Spot</h1>
            <p>A snoball is a sweet dessert made of finely shaved ice. This summertime treat got its start in New Orleans in the 1930s.</p>
            <div class="button">
            <a href="#" class="btn btn-yellow">Order Now <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        </section>
        <section class="main-about-us">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="img-box">
                <!-- <img src="{{ asset('thespotassets/images/about-img.jpg') }}"  class="img-fluid" alt=""> -->
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="text-caption">
                <h2 class="sec-heading">About Us</h2>
                <p>THE SPOT – SNO BALLS & MORE is Texas premium snowball company, offering fluffy ice desserts to the greater TX community. Today, THE SPOT offers multiple classic flavors, including familiar classics like Cherry and Blue Razz and exotic flavors like Mango. </p>
                <p>THE SPOT is available for a variety of events, from private parties to corporate get-togethers and schoolyard festivities.</p>
                <p>THE SPOT prides itself on customer service and being a sweet addition in your Life! <strong>Stay Cool & Keep Shavin'</strong></p>
                <div class="button">
                    <a href="#" class="btn btn-yellow">Read More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section class="main-menu">
        <div class="container">
            <div class="inner-menu">
            <div class="menu-main-title text-center">
                <h2>Flavors</h2>
            </div>
            <div class="pricing-bar">
                <ul class="list-unstyled">
                <li class="list-inline-item">Small $2.50</li>
                <li class="list-inline-item">Med $3.50</li>
                <li class="list-inline-item">large $4.50</li>
                <li class="list-inline-item">Jumbo $5.50</li>
                <li class="list-inline-item">Spot Size $6.50</li>
                </ul>
            </div>
            <div class="menu-lists">
                <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="menu-list-item">
                    <ul class="list-unstyled">
                        <li>Amaretto</li>
                        <li>Bahama Mama</li>
                        <li>Black Berry</li>
                        <li>Blue Berry</li>
                        <li>Blue Coton Candy</li>
                        <li>Blue Bubble gum</li>
                        <li>Banana</li>
                        <li>Blue Hawaiin</li>
                        <li>Candy Apple</li>
                        <li>Cherry</li>
                        <li>Coconout</li>
                        <li>Cola</li>
                        <li>Cotton Candy</li>
                        <li>Cream Soda</li>
                        <li>Egg Custord</li>
                    </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="menu-list-item">
                    <ul class="list-unstyled">
                        <li>Cantaloupe</li>
                        <li>Cake Batter</li>
                        <li>Chocolate</li>
                        <li>Dreamsicle</li>
                        <li>Dulce de Leche</li>
                        <li>Graphe</li>
                        <li>Grape Fruit</li>
                        <li>Georgia Peach</li>
                        <li>Granny Smith Apple</li>
                        <li>Hawaiin</li>
                        <li>Horchata</li>
                        <li>Hurricane</li>
                        <li>Icecream</li>
                        <li>kiwi</li>
                        <li>Lemon</li>
                    </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="menu-list-item">
                    <ul class="list-unstyled">
                        <li>Lemon Lime</li>
                        <li>Leche</li>
                        <li>Mango</li>
                        <li>Mocha</li>
                        <li>Margarita</li>
                        <li>Nector</li>
                        <li>Orange</li>
                        <li>Pine Colada</li>
                        <li>Pineapple</li>
                        <li>Pink Bubble Gum</li>
                        <li>Pink Lemonade</li>
                        <li>Praline</li>
                        <li>Rasberry</li>
                        <li>Red Velbet Cake</li>
                        <li>Root Beer</li>
                    </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="menu-list-item">
                    <ul class="list-unstyled">
                        <li>Sanfria</li>
                        <li>Strawberry</li>
                        <li>Strawberry Cheese Cake</li>
                        <li>Spearmint</li>
                        <li>Tamarindo</li>
                        <li>Tigers Blood</li>
                        <li>Tutti Frutti</li>
                        <li>Vanilla</li>
                        <li>Watermelon</li>
                        <li>Wedding Cake</li>
                        <li>White Chocolate Chip</li>
                        <li>Snosour</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="button text-center">
            <a href="#" class="btn btn-yellow">Order Now</a>
            </div>
        </div>
        </section>
        <section class="main-what-people-say">
        <div class="container">
            <div class="inner-what-people-say">
            <div class="what-people-say-title text-center">
                <h2 class="sec-heading">What People Say</h2>
            </div>
            <div id="testimonials">
                <div class="item-testimon">
                <div class="img-box">
                    <!-- <img src="{{ asset('thespotassets/images/testimonial.png') }}"  class="img-fluid d-block mx-auto" alt=""> -->
                </div>
                <div class="text-caption text-center">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                </div>
                <div class="item-testimon">
                <div class="img-box">
                    <!-- <img src="{{ asset('thespotassets/images/testimonial.png') }}" class="img-fluid d-block mx-auto" alt=""> -->
                </div>
                <div class="text-caption text-center">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                </div>
                <div class="item-testimon">
                <div class="img-box">
                    <!-- <img src="{{ asset('thespotassets/images/testimonial.png') }}" class="img-fluid d-block mx-auto" alt=""> -->
                </div>
                <div class="text-caption text-center">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                products: {},
                variations: {},
            }
        },
        
        mounted() {
            console.log('Component Mounted')
        },

        created() {
            this.fetchProducts();
        },

        methods: {
            
            fetchProducts() {
                axios.get(this.$host_url + '/products')
                    .then(res => {
                        this.isloading = false;
                        this.products = res.data.products;
                        this.variations = res.data.variations;
                        console.log(res.data.products);
                        console.log(res.data.variations);
                    })
            },

            deleteProduct(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/product/delete/${id}`)
                        .then(res => {
                            alert('Product Deleted!');
                            this.fetchProducts();
                        })
                        .catch(error => alert(error));
                }
            },
        },
    }
</script>

<style>

</style>