@media (max-width: 1440px){
    .logo-area {
        width: 65%;
    }
    .menu-area .menu-bar .navbar .navbar-nav {
        padding: 24px 0;
    }
    .main-banner h1 {
        font-size: 80px;
        letter-spacing: -3px;    
    }
    .main-banner p{
        font-size: 19px;
        width: 62%;
        letter-spacing: -0.5px;
    }
    .main-banner{
        height: 849px;
    }
    .main-about-us .text-caption {
        margin: 0 0 0;
    }
    .inner-menu .menu-main-title h2 {
        font-size: 60px;
    }
    .pricing-bar ul li {
        font-size: 21px;
    }
    .sec-heading {
        font-size: 40px;
    }
    .item-testimon .text-caption p {
        font-size: 16px;
    }
    .main-what-people-say {
        padding: 85px 0 193px;
    }
    .sec-heading {
        font-size: 35px;
    }
    footer .text-caption p {
        font-size: 16px;
    }
    footer .text-caption {
        margin: 0 0 75px;
    }
    .footer-social-icons ul li {
        width: 45px;
        height: 45px;
    }
    .footer-social-icons ul li a i {
        font-size: 20px;
    }
    .copyright p {
        font-size: 16px;
    }
    .subscribe-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #2d2d2d;
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      font-family: 'Rajdhani', sans-serif !important;
    }
    .subscribe-form ::-moz-placeholder { /* Firefox 19+ */
      color: #2d2d2d;
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      font-family: 'Rajdhani', sans-serif !important;
    }
    .subscribe-form :-ms-input-placeholder { /* IE 10+ */
      color: #2d2d2d;
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      font-family: 'Rajdhani', sans-serif !important;
    }
    .subscribe-form :-moz-placeholder { /* Firefox 18- */
      color: #2d2d2d;
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      font-family: 'Rajdhani', sans-serif !important;
    }
}
@media (max-width: 1366px){
    .menu-area .menu-bar .navbar .navbar-nav li a{
        font-size: 15px;
    }
    .main-banner h1 {
        font-size: 70px;
        letter-spacing: -2px;
    }
    .main-banner p {
        font-size: 18px;
        width: 59%;
        letter-spacing: -0.5px;
    }
    .button .btn.btn-yellow {
        font-size: 23px;
    }
    .button .btn.btn-yellow i {
        font-size: 16px;
    }
    .inner-menu .menu-main-title h2 {
        font-size: 50px;
    }
    .menu-lists .menu-list-item ul li {
        font-size: 16px;
    }
    .main-footer {
        padding: 97px 0 0;
    }
    footer .text-caption {
        margin: 0 0 65px;
    }
    .footer-social-icons {
        margin: 66px 0 80px;
    }
    .sec-heading {
        font-size: 34px;
    }
    .main-banner .button {
        margin: 44px 0 0;
    }
   
}
@media (max-width: 1280px){
    .inner-menu:before{
        width: 1218px;
    }
    .main-menu{
        padding: 177px 0px 130px;
    }
    .inner-menu .menu-main-title h2 {
        font-size: 45px;
    }
    .pricing-bar ul li {
        font-size: 20px;
    }
    .menu-lists .menu-list-item ul li {
        font-size: 15px;
    }
    .main-menu{
        padding: 177px 0px 97px;
    }
}
@media (max-width: 1024px){
    .menu-area .menu-bar .navbar .navbar-nav li a {
        font-size: 14px;
    }
    .main-banner h1 {
        font-size: 58px;
        letter-spacing: -2px;
    }
    .main-banner p {
        font-size: 17px;
    }
    .button .btn.btn-yellow {
        font-size: 21px;
    }
    .main-banner {
        height: 681px;
    }
    .main-about-us{
        padding: 70px 0 75px;
    }
    .inner-menu:before{
        content: none;
    }
    .main-about-us p {
        font-size: 15px;
    }
    .main-menu {
        padding: 99px 0px 86px;
    }
    .main-menu .button {
        margin: 47px 0 0;
    }
    .item-testimon .img-box{
        margin: 0 auto 48px;
    }
    .main-what-people-say {
        padding: 60px 0 125px;
    }
    .copyright p {
        font-size: 15px;
    }
    .copyright .footer-cards img {
        width: 60%;
    }
    .main-banner h1 {
        font-size: 54px;
        letter-spacing: -2px;
        line-height: 50px;
    }
}