@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rajdhani:wght@500;700&display=swap');
@font-face {
  font-family: 'ShowcardGothic-Reg';
  src:  url('../fonts/ShowcardGothic-Reg/ShowcardGothic-Reg.eot') format('embedded-opentype'), url('../fonts/ShowcardGothic-Reg/ShowcardGothic-Reg.woff') format('woff'), url('../fonts/ShowcardGothic-Reg/ShowcardGothic-Reg.ttf')  format('truetype'), url('../fonts/ShowcardGothic-Reg/ShowcardGothic-Reg.svg#ShowcardGothic-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src:  url('../fonts/Muli/Muli.eot') format('embedded-opentype'), url('../fonts/Muli/Muli.woff') format('woff'), url('../fonts/Muli/Muli.ttf')  format('truetype'), url('../fonts/Muli/Muli.svg#Muli') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Bold';
  src:  url('../fonts/Muli-Bold/Muli-Bold.eot') format('embedded-opentype'), url('../fonts/Muli-Bold/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold/Muli-Bold.ttf')  format('truetype'), url('../fonts/Muli-Bold/Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WatermelonScriptDemo';
  src:  url('../fonts/WatermelonScriptDemo/WatermelonScriptDemo.eot') format('embedded-opentype'), url('../fonts/WatermelonScriptDemo/WatermelonScriptDemo.woff') format('woff'), url('../fonts/WatermelonScriptDemo/WatermelonScriptDemo.ttf')  format('truetype'), url('../fonts/WatermelonScriptDemo/WatermelonScriptDemo.svg#WatermelonScriptDemo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GoudyOldStyleT-Regular';
  src:  url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.eot') format('embedded-opentype'), url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.woff') format('woff'), url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.ttf')  format('truetype'), url('../fonts/GoudyOldStyleT-Regular/GoudyOldStyleT-Regular.svg#GoudyOldStyleT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.opensans,
.menu-lists .menu-list-item ul li{
	font-family: 'Open Sans', sans-serif !important;
}
.rajdhani,
.main-banner h1,
.btn.btn-yellow{
	font-family: 'Rajdhani', sans-serif !important;
}	
.ShowcardGothic,
.menu-area .menu-bar .navbar .navbar-nav li a,
.sec-heading,
.banner .overlay h1{
	font-family: 'ShowcardGothic-Reg' !important;
}
.muli,
p,
.item-testimon .text-caption p,
.product-form .main-label{
	font-family: 'Muli' !important;
}
.muli-bold{
	font-family: 'Muli-Bold' !important;
}
.WatermelonScriptDemo,
.inner-menu .menu-main-title h2{
	font-family: 'WatermelonScriptDemo' !important;
}
.GoudyOldStyleT-Regular,
.pricing-bar ul li{
	font-family: 'GoudyOldStyleT-Regular' !important;
}
/* extra */
/* Inner page Header */
.banner{
	position: relative;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 340px;
	overflow: hidden;
	background-position: center center;
}
.banner .overlay{
	position: absolute;
	background-color: rgb(0 0 0 / 20%);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.banner .overlay h1{
	color: #fff !important;
	text-transform: uppercase;
	font-size: 46px;
	font-weight: 400;
	margin: 0 0 0;
}
/* Inner page Header */
/* Inner Page Content */
.master_page{
	padding:60px 0; 
}
.master_page p{
	font-size: 17px;
	color: #333333;
}
/* Inner Page Content */
.button .btn.btn-yellow{
	font-size: 24px;
	font-weight: 700;
	color: #2d2d2d;
	text-transform: capitalize;
	outline: none;
	padding: 24px 0 0;
	position: relative;
	z-index: 9999;
	text-align: center;
	width: 203px;
	height: 84px;
	top: 0;
}
.button .btn.btn-yellow:before{
	position: absolute;
	content: "";
	background-image: url('../images/yellow-shade.png');
	width: 203px;
	height: 84px;
	z-index: -999;
	top: 0;
	left: 0;
}
.button .btn.btn-yellow i{
	font-size: 17px;
	margin: 0 0 0 0px;
}
.btn.focus, .btn:focus{
	box-shadow: none;
}
/*header*/
header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: auto;
	z-index: 9999; 
}
.menu-bar ul{
	position: relative;
}
.menu-bar ul li .dropdown-menu{
	background-color: #db8b3e;
	min-width: 15rem;
	padding: 11px 0;
	border: 1px solid #fff;
}
.menu-bar ul li:hover .dropdown-menu li a:before{
	content: none !important;
}
.menu-bar ul li .dropdown-menu li{
    padding: 10px 15px !important;
}
.menu-bar ul li .dropdown-menu li:last-child{
	margin-bottom: 0 !important;
}
.menu-bar ul li .dropdown-menu li:hover{
	background-color: #fff;
}
.menu-bar ul li .dropdown-menu li:hover a{
	color: #db8b3e !important;
}
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li:active, 
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li.active, 
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li:focus, 
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li:hover{
	background-color: #fff;
}
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li:active a, 
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li.active a, 
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li:focus a, 
.menu-area .menu-bar .navbar .navbar-nav li .dropdown-menu li:hover a{
	color: #b63a42;
}

.menu-area{
	padding: 15px 0;
}
.menu-area .menu-bar .navbar{
	padding: 0;
}
.menu-area .menu-bar .navbar .navbar-nav{
    padding: 24px 0;
    margin: 0px 0 0;
}
.menu-area .menu-bar .navbar .navbar-nav li{
	line-height: 18px;
	display: inherit;
	position: relative;
	margin: 0 -1px;
	padding: 0 20px;
}
.menu-area .menu-bar .navbar .navbar-nav li a:active,
.menu-area .menu-bar .navbar .navbar-nav li.active a,
.menu-area .menu-bar .navbar .navbar-nav li a:focus,
.menu-area .menu-bar .navbar .navbar-nav li:hover a{
    color: #b63a42;
    text-shadow: 1px 0px 4px #fff;
}
.menu-area .menu-bar .navbar .navbar-nav li a{
	padding: 0 5px;
	position: relative;
	font-size: 16px;
	font-weight: 400;
	color: #2d2d2d;
	text-decoration: none;
	z-index: 999999;
	padding: 13px 0px;
	/* text-shadow: 2px 1px 2px #fff; */
}
.cart-icons{}
.cart-icons ul{
    margin: 0;
}
.cart-icons ul li{}
.cart-icons ul li a i{
	color: #2d2d2d;
}
/*header*/
/* main-banner */
.main-banner{
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-position: center center;
	height: 849px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-banner h1{
	font-size: 80px;
	font-weight: 700;
	color: #b63a42;
	text-transform: capitalize;
	line-height: 75px;
	letter-spacing: -3px;
	margin: 153px 0 12px;
}
.main-banner p{
	font-size: 19px;
	font-weight: 400;
	color: #363636;
	width: 62%;
	letter-spacing: -0.5px;
}
.main-banner .button{
    margin: 25px 0 0;
}

/* sec heading */
.sec-heading{
	font-size: 35px;
	font-weight: 400;
	color: #79d9dd;
	line-height: 41px;
	margin: 0 0 27px;
}
/* main-about-us */
.main-about-us{
	background-image: url('../images/sec-1.jpg');
	background-size: cover;
	padding: 103px 0 102px;
}
.main-about-us .text-caption{
    margin: 0 0 0;
}
.main-about-us .text-caption p strong{
	color: #9e045a;
}
.main-about-us p{
	margin: 0 0 29px;
}
.main-about-us .button .btn.btn-yellow,
.subscribe-form .form-group .button .btn.btn-yellow {
	color: #fff;
	text-shadow: 0px 1px 2px #4a4848;
}
/* main-menu */
.main-menu{
	background-image: url('../images/sec-2-bg.png');
	background-size: 100% 100%;
	background-position: center center;
	padding: 156px 0px 130px;
	background-repeat: no-repeat;
}
.inner-menu{
	position: relative;
}
.inner-menu:before{
	position: absolute;
	content: "";
	left: -5%;
	top: 3%;
	bottom: 0;
	right: 0;
	background-image: url('../images/menu-border.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 1248px;
	margin: auto !important;
	height: 1158px;
}
.inner-menu .menu-main-title{}
.inner-menu .menu-main-title h2{
	font-size: 60px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 17px;
	margin: 0 0 39px;
}
.pricing-bar{
	background-image: url('../images/pink-bar.png');
	background-repeat: no-repeat;
	background-position: center center;
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 0 43px;
}
.pricing-bar ul{
	text-align: center;
	margin: 0;
}
.pricing-bar ul li{
	font-size: 21px;
	font-weight: 400;
	color: #fff;
	position: relative;
	margin: 0 !important;
	padding: 0 39px 0;
}
.pricing-bar ul li:before{
	position: absolute;
	content: "";
	width: 1px;
	height: 12px;
	background-color: #fff;
	right: -2px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.pricing-bar ul li:last-child:before{
	content: none;
}
.menu-lists{}
.menu-lists .menu-list-item{}
.menu-lists .menu-list-item ul{
	text-align: center;
}
.menu-lists .menu-list-item ul li{
	font-size: 17px;
	font-weight: 400;
	color: #fff;
	padding: 12px 0;
	border-bottom: 1px dashed #816a05;
}
.main-menu .button{
	margin: 150px 0 0;
}
/* testimonial */
.main-what-people-say{
    padding: 85px 0 193px;
}
.inner-what-people-say{
	position: relative;
}
.inner-what-people-say:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	right: 0;
	top: 49%;
	background-image: url('../images/bg-testimonial.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 609px;
	height: 345px;
	margin: auto;
}
.what-people-say-title{}
.what-people-say-title h2{
	margin: 0 0 58px;
}
#testimonials{}
.item-testimon{
	outline: none;
}
.item-testimon .img-box{
	width: 105px;
	height: 105px;
	margin: 0 auto 95px;
	border: 2px solid #e2e2e2;
	border-radius: 50%;
	padding: 8px;
}
.item-testimon .img-box img{}
.item-testimon .text-caption{
    width: 80%;
    margin: auto;
}
.item-testimon .text-caption p{
	font-size: 16px;
	font-weight: 400;
	color: #2f2f2f;
}
#testimonials .slick-dots{
	bottom: -54%;
}
#testimonials .slick-dots li.slick-active button{
	background-color: #f8c900;
}
#testimonials .slick-dots li button{
	background-color: #000000;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
#testimonials .slick-dots li button:before{
	content: none;
}
/* footer */
.main-footer {
    padding: 144px 0 0;
}
footer{
	background-image: url('../images/footer-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
footer .sec-heading{
	color: #2d2d2d;
}
footer .text-caption{
	margin: 0 0 77px;
}
footer .text-caption p{
	font-size: 16px;
	font-weight: 400;
	color: #2d2d2d;
	text-align: center;
}
.subscribe-form{
	text-align: center;
}
.subscribe-form .form-group{}
.subscribe-form .form-group .form-control{
	border: none;
	border-bottom: 1px solid #2d2d2d;
	border-radius: 0;
	height: 55px;
}
.subscribe-form .form-group .button .btn.btn-yellow{
	padding: 0 0 0;
}
.subscribe-form .form-group .button{
	margin: 40px 0 0;
}
.subscribe-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2d2d2d;
  font-size: 27px;
  text-align: center;
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif !important;
}
.subscribe-form ::-moz-placeholder { /* Firefox 19+ */
  color: #2d2d2d;
  font-size: 27px;
  text-align: center;
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif !important;
}
.subscribe-form :-ms-input-placeholder { /* IE 10+ */
  color: #2d2d2d;
  font-size: 27px;
  text-align: center;
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif !important;
}
.subscribe-form :-moz-placeholder { /* Firefox 18- */
  color: #2d2d2d;
  font-size: 27px;
  text-align: center;
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif !important;
}

.footer-social-icons{
    margin: 106px 0 80px;
}
.footer-social-icons ul{}
.footer-social-icons ul li{
	width: 52px;
	height: 52px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footer-social-icons ul li a{}
.footer-social-icons ul li a i{
    font-size: 23px;
    color: #fff;
}
.footer-social-icons ul li.facebook{
	background-color: #507cbe;
}
.footer-social-icons ul li.twitter{
	background-color: #63cdf1;
}
.footer-social-icons ul li.pinterest{
	background-color: #f15f5d;
}
.footer-social-icons ul li.linkedin{
	background-color: #1e88c9;
}
.copyright{
	border-top: 1px solid #dfdfdf;
	padding: 30px 0; 
}
.copyright p{
	font-size: 17px;
	font-weight: 400;
	color: #2d2d2d;
	margin: 0;
}
.copyright .footer-cards{}
.copyright .footer-cards img{}
/* about-page */
.about-page .text-caption{
	margin: 20px 0 !important;
}
/* contact page */
.inner-contact-form .form-group{}
.inner-contact-form .form-group .form-control{
	border: none;
	border-bottom: 1px solid #2d2d2d;
	border-radius: 0;
	height: 55px;
}
.inner-contact-form .form-group textarea.form-control{
	height: 150px;
}
.inner-contact-form .form-group .button .btn.btn-yellow{
	padding: 0 0 0;
}
.inner-contact-form .form-group .button{
	margin: 40px 0 0;
}
.inner-contact-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #2d2d2d;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Rajdhani', sans-serif !important;
}
.inner-contact-form ::-moz-placeholder { /* Firefox 19+ */
	color: #2d2d2d;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Rajdhani', sans-serif !important;
}
.inner-contact-form :-ms-input-placeholder { /* IE 10+ */
	color: #2d2d2d;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Rajdhani', sans-serif !important;
}
.inner-contact-form :-moz-placeholder { /* Firefox 18- */
	color: #2d2d2d;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Rajdhani', sans-serif !important;
}
.form-control:focus{
	border-color: #4ec9cb;
    box-shadow: 0 0 0 0.2rem rgb(73 201 215 / 42%);
}
/* inner pages */
.inner-pages header{
	position: inherit;
}
/* product page */
.inner-product-page-col-1{}
.title-menu{}
.title-menu h2{
	color: #dc951a;
}
.title-menu p{
	font-size: 20px;
	font-weight: 400;
	color: #363636;
}
.plus-minus {

}
.css-label {
  cursor: pointer;
}
.css-checkbox {
  display: none;
}
.fa {
  color: white;
  line-height: 16px;
  border-radius: 4px;
  font-size: 16px;
}
.fa-plus {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  background-color: #3AC5C9;
}
.fa-minus {
  padding-top: 1px;
  padding-right: 2px;
  padding-left: 2px;
  background-color: #E85764;
  display: none;
}
.css-checkbox:checked + .css-label .fa-minus {
  display: inline;
}
.css-checkbox:checked + .css-label .fa-plus {
  display: none;
}
/* checkout  */
.inner-product-page-col-1,
.inner-product-page-col-2{
	border: 1px solid #eaeaea;
	padding: 60px 30px 60px 35px;
}
.product-form{}
.product-form .main-label{
	font-size: 20px !important;
	font-weight: 400 !important;
	color: #363636;
	margin: 13px 0 16px;
}
.product-form .form-group label{
	font-size: 16px;
	font-weight: 400;
	color: #363636;
}
.product-form .form-group .form-control{
	height: 40px;
	border-radius: 0;
	border: 1px solid #eaeaea;
}
.gj-timepicker-md [role=right-icon]{
	right: 8px;
    top: 8px;
}
.product-form .btn.btn-order-now i{
	font-size: 13px;
}
.product-form .btn.btn-order-now {
    background-color: #1dadbd;
    color: #fff;
    font-weight: 700;
    padding: 9px 32px;
    margin: 50px 0 0;
}
.inner-product-page-col-2{}
.inner-product-page-col-2 h3{
	font-size: 20px;
	font-weight: 700;
	color: #363636;
	margin: 0 0 35px;
}
.inner-product-page-col-2 .product-form dl dt,
.inner-product-page-col-2 .product-form dl dd{
	font-size: 13px;
	font-weight: 400;
	color: #363636;
}
.inner-product-page-col-2 .product-form dl dt i{
	color: #0f810c;
	margin-right: 10px;
}
.inner-product-page-col-2 .product-form dl dt.subtotal,
.inner-product-page-col-2 .product-form dl dd.subtotal{
	color: #f50e0e;
	margin: 14px 0 0;
}